<% @messages.each do |m| %>

<div class="message-mini">

  <div class="message-mini-body">
    <%= simple_format(m.content, {}, wrapper_tag: "span") %>
    <% if !m.redacted_by.nil? %>
      <div class="pop-up">
        <div class="pop-up-content">
          <span>Редактировано: <%= User.find(m.redacted_by).name %></span><br>
          <span>Дата: <%= m.updated_at.strftime("%d/%m/%Y - %H:%M:%S") %></span>
        </div>
        <div class="pop-up-trigger"></div>
      </div>
    <% end %>
  </div>

  <div class="message-mini-footer">
    <%= link_to m.user.name, user_path(m.user) %>, <%= m.created_at.strftime("%d/%m/%Y - %H:%M:%S") %>
    <% if current_user && (@current_user.admin? || @current_user.mod? || @current_user.id == m.user_id) %>
      <span>
        <%= link_to "Редактировать", edit_message_path(m) %>
        <%= link_to "Удалить", message_path(m, :forum_id => params[:forums_id]), method: :delete, data: { confirm: "Вы уверены, что хотите удалить это сообщение?"} %>
      </span>
    <% end %>
  </div>

</div>

<% end %>
