<%= form_for @message do |f| %>
  <%= render 'shared/error_messages/message'%>
  <%= hidden_field_tag :forum_id, params[:forum_id] %>
  <%= hidden_field_tag :id, params[:id] %>
  <%= f.text_area :content %>
  <%= f.submit "Отправить сообщение" %>
<% end %>
