<div class="message-edit-form">
<%= form_for @message, method: :patch do |f| %>

  <h2>Редактирование сообщения</h2>
  <div class="divider"></div>

  <%= render 'shared/error_messages/message'%>

  <%= f.text_area :content %>

  <%= f.submit "Обновить сообщение" %>
<% end %>
</div>
