<% @messages.each_with_index do |m, index| %>

<div class="message-mini">

  <div class="message-mini-body">
    <%= if (m.content.length <= 200)
      simple_format(m.content, {}, wrapper_tag: "span")
    else
      simple_format(m.content[0,199] + "...", {}, wrapper_tag: "span")
    end %>

    <% if !m.redacted_by.nil? %>
      <div class="pop-up">
        <div class="pop-up-content">
          <span>Редактировано: <%= User.find(m.redacted_by).name %></span><br>
          <span>Дата: <%= m.updated_at.strftime("%d/%m/%Y - %H:%M:%S") %></span>
        </div>
        <div class="pop-up-trigger"></div>
      </div>
    <% end %>
  </div>

  <div class="message-mini-footer">
    <div class="info">
      <% t = Topic.find(m.topic_id) %>
      <% f = Forum.find(t.forum_id) %>
      <%= link_to name_with_restriction(f), forum_path(f.id) %>,
      <%= link_to name_with_restriction(t), forum_topic_path(f.id, m.topic_id) %>,
      <%= m.created_at.strftime("%d/%m/%Y - %H:%M:%S") %>
    </div>
    <span>
      <%= link_to "Перейти", forum_topic_path(f.id, m.topic_id), :page => find_page(20, t.messages.index(m) + 1) %>
      <% if current_user && (@current_user.admin? || @current_user.mod? || @current_user.id == m.user_id) %>
        <%= link_to "Редактировать", edit_message_path(m) %>
        <%= link_to "Удалить", message_path(m), method: :delete, data: { confirm: "Вы уверены, что хотите удалить это сообщение?"} %>
      <% end %>
    </span>
  </div>

</div>

<% end %>
