<div class="static-container">
  <div class="static-wrapper about">
    <div class="section-wrapper">
      <div class="info-panel info-panel-1">
        <div>
        <h2>Кратко о холдинге</h2>
        <span>В целях сплочения профессиональных кадров и формирования конкуренто-способного предложения на рынке строительного и консультационного инжиниринга, в 2006 году создана сильная команда профессионалов - Холдинг "Энергоатоминжиниринг", управляемый одноименной компанией и объединяющий четыре крупные строительно-монтажные организации.</span>
      </div>
      <div>
        <ul>
          <li>ОАО "Энергоатоминжиниринг"</li>
          <li> ОАО "Промэлектромонтаж"</li>
          <li>ЗАО "Гидроэлектромонтаж"</li>
          <li>АО "Севзапатоммонтаж"</li>
          <li>ЗАО "Промцентр"</li>
        </ul>
      </div>
      </div>

      <div class="info-panel info-panel-2">
        <h2>Состав холдинга</h2>
        <span>Сегодня в составе холдинга "Энергоатоминжиниринг" - 5 крупных компаний энерго-инжинирингового сектора, общее количество производственных активов - более 20 единиц, расположенных в 12 регионах России, а также за рубежом - в Иране и КНР. Численность профессионального кадрового состава холдинга - 3000 человек.</span>
      </div>

      <div class="info-panel info-panel-3">
        <h2>Основные принципы нашей работы</h2>
        <p><b>Надежное партнерство</b> - в нашей работе мы стремимся к долгосрочному и взаимовыгодному сотрудничеству с партнерами.</p>

        <p><b>Гарантированное качество</b> выполняемых работ обеспечивается:
        <ul>
          <li>многолетним успешным опытом работы на сооружении энергоблоков, в том числе и атомных электростанций, объектов промышленного и социального назначения;</li>
          <li>наличием лицензий на осуществление узкоспециализированных видов деятельности.</li>
        </ul>
        </p>

        <p><b>Профессионализм</b> - на наших предприятиях работают только профессионалы своего дела: нам удалось не только сохранить, но и пополнить кадровый состав специалистами "советской закалки", обладающими багажом фундаментальных знаний в области электроэнергетики и бесценным опытом работы на строительстве крупных АЭС и энергоблоков.</p>

        <p><b>Постоянное развитие</b> - мы ориентированы на непрерывное наращивание наших производственно-технических и интеллектуальных ресурсов, разработку и внедрение новейших технологий - чтобы быть лучшими в своем деле, чтобы отвечать потребностям времени, высоким запросам заказчика, а главное - интересам нашего конечного потребителя - общества.</p>
      </div>

      <div class="info-panel info-panel-4">
        <h2>Наши преимущества:</h2>
        <ul>
          <li>многолетний фундаментальный опыт работы по крупным энергетическим проектам в различных регионах России, бывшего Советского Союза и за рубежом;</li>
          <li>широкая сеть территориальных подразделений, собственных научно-технических центров и производственно-складских хозяйств по всей России - возможность в кратчайшие сроки создать "развернуть" техническую базу и выйти на строительную площадку;</li>
          <li>3 тысячи квалифицированных специалистов;</li>
          <li>наличие всех видов государственных лицензий и разрешений на осуществление деятельности по сооружению энергоблоков (производство специальных видов работ).</li>
        </ul>
      </div>

      <div class="info-panel info-panel-5">
        <h2>Кадровая политика</h2>
        <p>ОАО "Энергоатоминжиниринг" - многопрофильная организация, которую составляют работники разных уровней и специализации; работа в компании - это шанс реализовать себя, раскрыть свой потенциал, определить уровень своих запросов и возможностей, поскольку для реализации их практически нет внешних ограничений: всё в ваших руках.</p>
        <p>Работать у нас могут не только люди, умудрённые годами и опытом. Сотрудники должны быть готовы к непрерывному повышению квалификации: мы проводим корпоративные тренинги, обучаем молодых специалистов, всячески способствуем приобретению ими практического опыта.</p>
        <p><b>Телефон отдела кадров:</b> (495) 253-71-72, <b>Email для резюме:</b> lfb@vfp.ru</p>
      </div>

    </div>
  </div>
</div>
