<div class="static-container">
  <div class="static-wrapper competences">
    <div class="section-wrapper">
      <div class="info-panel info-panel-1">
        <%= image_tag "competences_1.jpg" %>
        <h2>Основные направления деятельности</h2>
        <ul><b>Инжиниринговая проработка и строительство тепловых и атомных электростанций "под ключ":</b>

          <li>строительство тепловых и атомных электростанций "под ключ", включая проектные работы по объекту;</li>
          <li>услуги по инжинирингу и строительству электростанций с полной комплектацией строительными материалами и оборудованием.</li>
        </ul>

        <ul><b>Монтаж, наладка, ремонт и реконструкция электрического оборудования электростанций и промышленных предприятий:</b>
          <li>монтаж электрического оборудования тепловых и атомных электростанций, подстанций и промышленных предприятий;</li>
          <li>наладка электрического оборудования тепловых и атомных электростанций, подстанций и промышленных предприятий;</li>
          <li>ремонт и реконструкция электрического оборудования тепловых и атомных электростанций, подстанций и промышленных предприятий.</li>
        </ul>

        <ul><b>Монтаж, наладка, ремонт и реконструкция технологического оборудования электростанций и промышленных предприятий:</b>
          <li>монтаж технологического оборудования тепловых и атомных электростанций, котельных и промышленных предприятий;</li>
          <li>наладка технологического оборудования тепловых и атомных электростанций, котельных и энергетического оборудования промышленных предприятий;</li>
          <li>ремонт технологического оборудования электростанций, комплексная реконструкция энергетических объектов, восстановление объектов после стихийных бедствий и аварий.</li>
        </ul>

        <p>Строительство, монтаж, ремонт и реконструкция трубопроводов тепловых сетей.</p>
        <p>Строительство, монтаж, ремонт и реконструкция магистральных нефте- и газопроводов.</p>
      </div>

      <div class="info-panel info-panel-1">
        <%= image_tag "competences_2.jpg" %>
        <h2>Возможности и технические достижения</h2>
        <ul>
        <li>опыт электромонтажных работ на уникальных установках ядерных и исследовательских центров, головных блоках атомных станций;</li>
        <li>монтаж электростанций с турбогенераторами от 6 до 1500 мВА;</li>
        <li>монтаж специальных аккумуляторных и дизельных установок надёжного питания;</li>
        <li>монтаж ЛЭП до 330 кВ в условиях горного Алтая, пустыни Кызыл-Кум;</li>
        <li>монтаж распределительных подстанций с напряжением до 750 кВ;</li>
        <li>монтаж токопроводов и шинопроводов, электротехнического оборудования и распределительных сетей, контрольно-измерительных приборов и приборов радиоизотопной техники, научно-исследовательских и промышленных гамма-установок;</li>
        <li>монтаж и наладка электрооборудования от 110-330 и 750 кВ, включая трансформаторы единичной мощностью до 1250 кВА, мощные испытательные стенды напряжением 1150-1500 кВ, элегазовые выключатели;</li>
        <li>опыт работы на компрессорных станциях магистральных трубопроводов, а также на питающих и тяговых подстанциях железных дорог.</li>
        <ul>
      </div>
    </div>
  </div>
</div>
