<div class="static-container">
  <div class="static-wrapper companies">
    <div class="section-wrapper">
      <div class="info-panel info-panel-1">
        <%= image_tag "eae_logo.gif" %>
        <h2>ЗАО "ЭНЕРГОАТОМИНЖИНИРИНГ"</h2>
        <%= link_to "Подробнее >", eae_path %>
        <p>Управляющая инжиниринговая компания холдинга. Образована в 2006 году. Осуществляет комплексный инжиниринг проекта и возлагает на себя полную ответственность за сооружение объекта: от начала проектирования до пуска в эксплуатацию и сервисного обслуживания.</p>
        <p>
          <b>Адрес:</b> 123022, Москва, ул. Б. Декабрьская, д. 3; <b>телефон:</b> (495)785-55-82;<br>
          <b>факс:</b> (495)785-55-84; <b>email:</b> common@energo-holding.ru.
        </p>
      </div>

      <div class="info-panel info-panel-2">
        <%= image_tag "pem_logo.gif" %>
        <h2>ОАО "ПРОМЭЛЕКТРОМОНТАЖ" (ПЭМ)</h2>
        <%= link_to "Подробнее >", pem_path %>
        <p>Широкопрофильная строительно-монтажная компания, производящая монтаж электрогенераторов, основного и вспомогательного силового оборудования на электрических станциях всех типов, а также осуществляющая полное проектирование и строительство зданий и сооружений различного назначения.</p>
        <p>
          <b>Адрес:</b> 127238, Москва, Дмитровское ш., 71; <b>телефон:</b> (495)785-97-90;<br>
          <b>факс:</b> (495)480-33-00; <b>email:</b> info@pem.ru.
        </p>
      </div>

      <div class="info-panel info-panel-3">
        <%= image_tag "gem_logo.gif" %>
        <h2>ЗАО ТВП "ГИДРОЭЛЕКТРОМОНТАЖ" (ГЭМ)</h2>
        <%= link_to "Подробнее >", gem_path %>
        <p>Специализируется на монтаже кабельных электрических линий и электротехнических устройств, монтаже систем автоматизации технологических процессов АСУ ТП, выполнении пусконаладочных работ электротехнических устройств и систем автоматизации.</p>
        <p>
          <b>Адрес:</b> 123022, Москва, ул. Б. Декабрьская, д. 3, <b>телефон:</b> (495)785-55-82,<br>
          <b>факс:</b> (495)785-55-84, <b>email:</b> common@energo-holding.ru.
        </p>
      </div>

      <div class="info-panel info-panel-4">
        <%= image_tag "sezam_logo.gif" %>
        <h2>АО "СЕВЗАПАТОММОНТАЖ" (СЕЗАМ)</h2>
        <%= link_to "Подробнее >", sezam_path %>
        <p>Специализированное предприятие по монтажу тепломеханического оборудования и технологических трубопроводов, изготовлению и монтажу металлоконструкций, нестандартного оборудования, изготовлению трубопроводов для промышленности и энергетики.</p>
        <p>
          <b>Адрес:</b> 171841, Тверская область, г. Удомля, а/я 12; <b>телефон:</b> (48255)7-24-25;<br>
          <b>факс:</b> (48255)7-24-25; <b>email:</b> sezam@udomlya.ru.
        </p>
      </div>

      <div class="info-panel info-panel-5">
        <%= image_tag "promcentr_logo.gif" %>
        <h2>ЗАО "ПРОМЦЕНТР"</h2>
        <%= link_to "Подробнее >", promcenter_path %>
        <p>Специализированное предприятие по изготовлению и монтажу металлоконструкций, электрических изделий.</p>
        <p><b>Адрес:</b> 188537, Ленинградская область, г. Сосновый Бор, Копорское шоссе, д. 68;<br>
        <b>телефон:</b> (813-69)2-49-90; <b>факс:</b> (813-69)2-19-00; <b>email:</b> indcenter@sbor.ru.</p>
      </div>

    </div>
  </div>
</div>
