<div class="static-container">
  <div class="static-wrapper eae">
    <div class="section-wrapper">

      <div class="title">
        <h2>ЗАО "ЭНЕРГОАТОМИНЖИНИРИНГ"</h2>
      </div>

      <div class="info-panel info-panel-1">
        <%= image_tag "eae_1.jpg" %>
        <h2>Основной профиль деятельности</h2>
        <p>
          Управляющая компания Холдинга - ЗАО "Энергоатоминжиниринг" - представляет собой эффективное вертикально-интегрированное предприятие, способное оказать комплекс инжиниринговых услуг, предложить системный подход к организации и выполнению работ по сооружению атомных и тепловых энергоблоков, а также строительству иных промышленных и гражданских объектов "под ключ". Таким образом обеспечивается высокая степень унификации и стандартизации проекта, снижение затрат Заказчика на всех этапах составляет около 10% от стоимости объекта.
        </p>
      </div>

      <div class="info-panel info-panel-2">
        <%= image_tag "eae_2.jpg" %>
        <h2>Функции управления и виды выполняемых работ</h2>
        <ul>
          <li>руководство реализацией проекта с целью достижения его соответствия требованиям и условиям Заказчика;</li>
          <li>проектно-конструкторские работы, разработка спецификаций, закупка оборудования, компонентов и систем станции;</li>
          <li>выполнение строительно-монтажных работ и сдача объекта Заказчику;</li>
          <li>разработка необходимых документов для обеспечения получения разрешений и лицензий, включая руководства по эксплуатации, обоснование безопасности АЭС и т.д.;</li>
          <li>обеспечение качества и контроля качества;</li>
          <li>транспортировка крупногабаритного оборудования на площадку;</li>
          <li>создание инфраструктуры Генерального подрядчика на площадке;</li>
          <li>приемка всех поставок и услуг от субподрядных организаций.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
