<div class="static-container">
  <div class="static-wrapper gem">
    <div class="section-wrapper">

      <div class="title">
        <h2>ЗАО ТВП "ГИДРОЭЛЕКТРОМОНТАЖ" (ГЭМ)</h2>
      </div>

      <div class="info-panel info-panel-1">
        <%= image_tag "gem_1.jpg" %>
        <h2>О предприятии</h2>
        <p>
          Всесоюзная организация "Гидроэлектромонтаж" была создана в 1946 году. Суммарные результаты работы предприятия не имеют аналогов в истории отечественного и европейского энергостроительства. В 1994 году оно было преобразовано в ЗАО ТВП "Гидроэлектромонтаж" путем реорганизации обособленного структурного подразделения Тверского монтажного управления АООТ "Гидроэлектромонтаж", став фактическим преемником последнего. На сегодняшний день общая численность работников во всех подразделениях предприятия составляет 800 человек. Государство достойно оценивает работу специалистов и руководителей ТВП "ГЭМ". Только за последние 15 лет более 30 человек награждены государственными наградами Российской Федерации.
        </p>
      </div>

      <div class="info-panel info-panel-2">
        <%= image_tag "gem_2.jpg" %>
        <h2>Основной профиль деятельности</h2>
        <p>
          ТВП "ГЭМ" специализируется на монтаже кабельных электрических линий и электротехнических устройств, систем автоматизации технологических процессов АСУ ТП, монтаже тепломеханического оборудования и трубопроводов, а также на выполнении пусконаладочных работ электротехнических устройств и систем автоматизации и сварочных работ.<br>
          Промышленная база ТВП "ГЭМ" находится на территории промплощадки Калининской атомной электростанции. Предприятие располагает подъездными ж/д путями, имеет подготовленные открытые площадки для хранения оборудования. Производственная база представлена цехами: КИПиА, электромонтажных изделий, укрупнённой сборки электрооборудования, сварки; мастерскими: столярной, авторемонтной, полным операционно-складским хозяйством, гаражами для автотехники.
        </p>
      </div>

      <div class="info-panel info-panel-3">
        <%= image_tag "gem_3.jpg" %>
        <h2>Выполняемые виды работ</h2>
        <ul>
          <li>монтаж кабельных электрических линий и электротехнических устройств;</li>
          <li>монтаж систем автоматизации технологических процессов АСУ ТП;</li>
          <li>монтаж тепломеханического оборудования и трубопроводов;</li>
          <li>доизготовление и укрупнительная сборка оборудования и трубопроводов;</li>
          <li>сварочные работы;</li>
          <li>пусконаладочные работы электротехнических устройств и систем автоматизации;</li>
          <li>контроль качества продукции и работ;</li>
          <li>контроль качества основных материалов, сварных соединений оборудования и трубопроводов;</li>
          <li>разработка производственной технологической, контрольной и эксплуатационной документации.</li>
        </ul>
      </div>

      <div class="info-panel info-panel-4">
        <h2>Состав предприятия</h2>
        <p>
          <b>Дирекция:</b> ЗАО "Тверское предприятие Гидроэлектромонтаж", г. Удомля, Тверская область.<br>
          <b>Филиалы:</b> строительно-монтажное управление на АЭС "Бушер" (г. Бушер, Иран); строительно-монтажное управление (г. Волгодонск, Ростовская область).
        </p>
      </div>

      <div class="info-panel info-panel-5">
        <h2>Объекты</h2>
        <ul><b>ЗАО Тверское предприятие "Гидроэлектромонтаж" выполнило комплекс электро-монтажных и пусконаладочных работ на следующих объектах:</b>
          <li>1,2,3-й блоки Калининской АЭС</li>
          <li>3-й блок Кольской АЭС</li>
          <li>4-й блок Курской АЭС</li>
          <li>1-й блок Волгодонской АЭС</li>
          <li>Балаковская АЭС</li>
          <li>Смоленская АЭС</li>
        </ul>
      </div>

      <div class="info-panel info-panel-6">
        <h2>Возможности и технические достижения</h2>
        <p>
          Среди наивысших технических достижений - монтаж и наладка электрооборудования от 110-330 и 750 кВ, включая трансформаторы единичной мощностью до 1250 кВА, мощные испытательные стенды напряжением 1150-1500 кВ, элегазовые выключатели.<br>
          Специалисты ЗАО ТВП "ГЭМ" имеют опыт работы на компрессорных станциях магистральных трубопроводов, а также на питающих и тяговых подстанциях железных дорог.
        </p>
      </div>

      <div class="info-panel info-panel-7">
        <h2>Лицензии</h2>

        <ul><b>Лицензии Федеральной службы по экологическому, технологическому и атомному надзору:</b>
          <li>на сооружение, в части выполнения отдельных работ, атомной станции;</li>
          <li>на эксплуатацию, в части выполнения отдельных работ, атомной станции;</li>
          <li>на изготовление оборудования для атомных станций;</li>
          <li>на конструирование оборудования для атомных станций;</li>
          <li>на сооружение комплексов по переработке радиоактивных отходов, в части выполнения отдельных работ и предоставления услуг эксплуатирующей организации;</li>
          <li>на сооружение пунктов хранения радиоактивных отходов, в части выполнения отдельных работ и предоставления услуг эксплуатирующей организации.</li>
        </ul>

        <ul><b>Лицензии Ростехнадзора:</b>
          <li>на эксплуатацию взрывоопасных производственных объектов;</li>
          <li>на осуществление деятельности по изготовлению оборудования для подъёмных сооружений;</li>
          <li>на право осуществления деятельности на объектах котлонадзора;</li>
          <li>на право осуществления пусконаладочных работ оборудования подъёмных сооружений;</li>
          <li>на право разработки технологической документации для выполнения работ с использованием грузоподъёмных механизмов;</li>
          <li>на право осуществления деятельности по эксплуатации подъёмных приспособлений;</li>
          <li>на право осуществления деятельности по эксплуатации сосудов, работающих под давлением.</li>
        </ul>

        <ul><b>Лицензии Госстроя России:</b>
          <li>на строительство зданий и сооружений 1-го и 2-го уровней ответственности в соответствии с государственным стандартом;</li>
          <li>на проектирование зданий и сооружений 1-го и 2-го уровней ответственности в соответствии с государственным стандартом.</li>
        </ul>

        <ul><b>Лицензия Министерства энергетики России:</b>
          <li>на осуществление деятельности по эксплуатации электрических сетей.
        </ul>

        <ul><b>Лицензия Главного управления Государственной противопожарной службы МЧС России:</b>
          <li>на производство работ по монтажу, ремонту и обслуживанию средств обеспечения пожарной безопасности зданий и сооружений.</li>
        </ul>

        <ul><b>Свидетельства концерна "Росэнергоатом":</b>
          <li>об аккредитации на исполнение работ по ремонту оборудования атомных станций концерна "Росэнергоатом";</li>
          <li>об аккредитации на выполнение работ на объектах концерна "Росэнергоатом".</li>
        </ul>

      </div>

    </div>
  </div>
</div>
