<div class="static-container">
  <div class="static-wrapper leadership">
    <div class="section-wrapper">
      <div class="info-panel person-1">
        <%= image_tag "kutumov.jpg" %>
        <h2>Кутумов Виктор Викторович</h2>
        <h3>Генеральный директор ЗАО "Энергоатоминжиниринг"</h3>
        <p><b>Первое высшее образование:</b> Московский государственный инженерно-физический институт по специальности "Ядерные реакторы и энергетические установки".</p>
        <p><b>Второе высшее образование:</b> Национальный институт им. Екатерины Великой, специальность "Финансы и кредит".<p>
        <p><b>Краткая трудовая биография:</b></p>
        <ul>
              <li>1991-1993: коммерческий директор ООО БТФ ("Богородская торговая фирма")</li>
              <li>1993-1998: менеджер ООО "Южная торговая компания"</li>
              <li>1998-2000: начальник коммерческого отдела, затем генеральный директор фирмы "Содействие"</li>
              <li>2000-2001: директор ООО "Трансэнерго"</li>
              <li>2001-2002: заместитель директора филиала ООО "Севзапатомэнергострой" - УПТК</li>
              <li>2002-2003: заместитель начальника УПТК ООО "Севзапатомэнергострой"</li>
              <li>2003-2004: заместитель генерального директора инжиниринговой фирмы "Содействие"</li>
              <li>2002-2005: председатель совета директоров ЗАО ТВП "ГЭМ"</li>
              <li>2003-2005: председатель совета директоров ЗАО "СеЗАМ"</li>
              <li>2004-2006: генеральный директор инжиниринговой компании ОАО "Атомразвитие", заместитель генерального директора ЗАО "Энергоатоминжиниринг" по развитию</li>
              <li>2006: генеральный директор ЗАО "Энергоатоминжиниринг"</li>
            </ul>
            <p><b>Телефон:</b> (495) 785-55-83, <b>факс:</b> (495) 788-33-81, <b>email:</b> info@energo-holding.ru</p>
      </div>

      <div class="info-panel person-2">
        <%= image_tag "lescheva.jpg" %>
        <h2>Лещева Татьяна Александровна</h2>
        <h3>Первый заместитель генерального директора ЗАО "Энергоатоминжиниринг" по экономике и финансам</h3>
        <p><b>Образование:</b> Московский институт управления им. С. Орджоникидзе. Инженер-экономист.</p>
        <p><b>Дополнительное образование:</b> курсы бухгалтерского учёта и международного бухгалтерского учёта по стандартам GAAP.<p>
        <p><b>Стажировка:</b> курсы финансовых директоров в Международной академии и курсы по бюджетированию в системе управления компаний.<p>
        <p><b>Краткая трудовая биография:</b></p>
        <ul>
          <li>1985-1995: главный бухгалтер ПО "Мособлавтотехобслуживание"</li>
          <li>1995-2000: главный бухгалтер ООО "Демидов"</li>
          <li>2000-2001: главный бухгалтер с функциями финансового директора ООО "Главстройсервис"</li>
          <li>2001-2002: финансовый директор ОАО "АРЗ-3" (в составе ГК "Вашъ Финансовый Попечитель")</li>
          <li>2002-2003: заместитель генерального директора по финансам ООО "Севзатомэнергострой"</li>
          <li>2003-2006: финансовый директор строительной компании ОАО "Русатомэнергострой"</li>
          <li>2006: первый заместитель генерального директора ЗАО "Энергоатоминжиниринг" по экономике и финансам</li>
        </ul>
        <p><b>Телефон:</b> (495) 788-33-50, <b>факс:</b> (495) 788-33-50, <b>email:</b> tal@arz6.ru</p>
      </div>

      <div class="info-panel person-3">
        <%= image_tag "averianov.jpg" %>
        <h2>Аверьянов Иоанн Алексеевич</h2>
        <h3>Заместитель генерального директора ЗАО “Энергоатомижиниринг” по развитию</h3>
        <p><b>Образование:</b> Московский Государственный Педагогический Университет им. Крупской, специальность- юрист.</p>
        <p><b>Краткая трудовая биография:</b></p>
        <ul>
          <li>2004-2005: ООО «Montgomery Nominees Limited», юрист</li>
          <li>2005-2007: производственное объединение «РУСЬ», начальник службы управления территориями Юго-Восточного направления Московской области (управление строительными проектами)</li>
          <li>2008: генеральный директор ЗАО «Вашъ Финансовый Попечитель»</li>
          <li>2008: заместитель генерального директора ЗАО “Энергоатомижиниринг”</li>
        </ul>
        <p><b>Телефон:</b> (495) 785-55-82, <b>факс:</b> (495) 785-55-82, <b>email:</b> iaverynov@mail.ru</p>
      </div>

      <div class="info-panel person-4">
        <%= image_tag "smagin.jpg" %>
        <h2>Смагин Василий Владимирович</h2>
        <h3>Заместитель Генерального директора Управляющей компании</h3>
        <p><b>Первое высшее образование:</b> Томский политехнический институт по специальности "Технология машиностроения", факультет "Управление и организация производства".</p>
        <p><b>Второе высшее образование:</b> Национальный институт Екатерины Великой, специальность "Финансы и кредит".<p>
        <p><b>Краткая трудовая биография:</b></p>
        <ul>
          <li>1982-1989: старший механик ремонтно-механического цеха рудника "Комсомольский" (г.Норильск)</li>
          <li>1989-1991: главный механик управления строительства Калининской АЭС</li>
          <li>1991: коммерческий директор ЗАО "СеЗАМ", впоследствии - исполнительный директор</li>
          <li>2007: заместитель генерального директора управления коллегии ЗАО Энергоатоминжиниринг".</li>
        </ul>
        <p><b>Телефон:</b> (48255) 7-24-25, <b>факс:</b> (48255) 7-24-25, <b>email:</b> sezam@udomlya.ru, sezam-udomlya@rambler.ru</p>
      </div>

      <div class="info-panel person-5">
        <%= image_tag "vinnikov.jpg" %>
        <h2>Винников Игорь Владимирович</h2>
        <h3>Заместитель генерального директора ЗАО «Энергоатоминжиниринг»</h3>
        <p><b>Образование:</b> Московский Энергетический институт, специальность – инженер-электрик. Академия общественных наук.</p>
        <p><b>Краткая трудовая биография:</b></p>
        <ul>
          <li>1968-1972: Московский завод «Сапфир», инженер-электрик</li>
          <li>1973-1976: Главспецстрой СССР, главный энергетик треста</li>
          <li>1977-1989: Советский РК КПСС, МГК КПСС, инструктор, секретарь РК КПСС, зав.сектором энергетики МГК КПСС</li>
          <li>1990-2008: ГК «Президент - Отель» УД Президента РФ, ОАО «Гончар», ОАО «АРЗ-6», МР Групп, «РОСАхолдинг», заместитель генерального директора, генеральный директор</li>
          <li>2009: заместитель генерального директора ЗАО «Энергоатоминжиниринг»</li>
        </ul>
        <p><b>Телефон:</b> (495) 785-55-83, <b>факс:</b> (495) 788-33-81</p>
      </div>

      <div class="info-panel person-6">
        <%= image_tag "pustovoy.jpg" %>
        <h2>Пустовой Юрий Алексеевич</h2>
        <h3>Исполнительный директор ЗАО ТВП "ГЭМ"</h3>
        <p><b>Образование:</b> Омский политехнический институт по специальности "Криогенная техника".</p>
        <p><b>Краткая трудовая биография:</b></p>
        <ul>
          <li>1982-1988: Омский завод подъёмных машин - мастер, начальник участка</li>
          <li>1988-1998: Завод "Атоммаш" в Волгодонске, начальник технологического бюро, начальник цеха</li>
          <li>1998-2002: Электро-монтажное управление "Югэлектро", начальник отдела материально- технического снабжения и комплектации. Работал на сооружении 1-го энергоблока Ростовской АЭС</li>
          <li>2002-2005: ЗАО ТВП "Гидроэлектромонтаж", первый заместитель директора. Сооружение 3-го энергоблока Калининской АЭС</li>
          <li>2005: генеральный директор ЗАО ТВП "Гидроэлектромонтаж"</li>
          <li>2006: исполнительный директор ЗАО ТВП "Гидроэлектромонтаж"</li>
        </ul>
        <p><b>Телефон:</b> (48255) 7-24-43, 7-24-38, <b>факс:</b> (48255) 7-24-41 , <b>email:</b> tvpgem@mail.ru</p>
      </div>

      <div class="info-panel person-7">
        <%= image_tag "taupov.jpg" %>
        <h2>Таюпов Ривхат Зайдуллаевич</h2>
        <h3>Исполнительный директор ОАО “Проэлектромонтаж”</h3>
        <p><b>Образование:</b> Ташкентский Политехнический институт. Энергетический факультет.</p>
        <p><b>Краткая трудовая биография:</b></p>
        <ul>
          <li>1985-1992: Работа на предприятии "Ташэлектросталь" в качестве инженера-электрика в службе подстанций 110 кв-500кв</li>
          <li>1992-1995: Работа на Ульяновском авиационном заводе инженером, главным энергетиком аэродромного комплекса</li>
          <li>1995-1996: Работа на Ульяновском филиале предприятия "Средазэлектромонтаж" начальником электромонтажного участка</li>
          <li>1996-2000: Работа на Ташкентском предприятии КП "Монтажсветэенерго" начальником электромонтажного участка,главным инженером</li>
          <li>2000: прошел все должностные ступени, начиная от прораба электромонтажных работ до исполнительного директора ОАО “Проэлектромонтаж”</li>
        </ul>
        <p><b>Телефон:</b> (495) 785-55-83 , <b>факс:</b> (495) 785-55-84</p>
      </div>

      <div class="info-panel person-8">
        <%= image_tag "lobanov.jpg" %>
        <h2>Лобанов Георгий Евгеньевич</h2>
        <h3>Исполнительный директор ЗАО «Промцентр»</h3>
        <p><b>Образование:</b> Российский Университет дружбы народов. Экономический факультет.</p>
        <p><b>Краткая трудовая биография:</b></p>
        <ul>
          <li>1989-1991: Экономист в бухгалтерии Всесоюзного производвенного объединения «Зарубежнефтестрой»</li>
          <li>1991-1992: Экономист в бухгалтерии Всесоюзного Внешнеторгового Объединения «Техноэкспорт»</li>
          <li>1992-1995: Заместитель начальника коммерческого отдела ОАО «Нефтегазснаб»</li>
          <li>1995-1999: Заместитель генерального директора по экономике и финансам ЗАО «Металлургические технологии»</li>
          <li>1999-2003: Финансовый директор ЗАО «Северное море» (г. Мурманск)</li>
          <li>2003-2006: Исполнительный директор ЗАО «Тверская промышленная компания» (г.Тверь)</li>
          <li>2006-2007: Заместитель начальника управления производственно-технического обеспечения ОАО «Промэлектромонтаж»</li>
          <li>2007: Исполнительный директор ЗАО «Промцентр» (г. Сосновый Бор)</li>
        </ul>
        <p><b>Телефон:</b> (81369) 2-19-00, <b>факс:</b> (81369) 2-49-90</p>
      </div>

      <div class="info-panel person-9">
        <%= image_tag "samohvalov.jpg" %>
        <h2>САМОХВАЛОВ Александр Владимирович</h2>
        <h3>Исполнительный директор ЗАО "СЕЗАМ"</h3>
        <p><b>Первое высшее образование:</b> Одесский политехнический институт, атомно-энергетический факультет по специальности "Атомные электростанции и установки". Инженер - теплоэнергетик.</p>
        <p><b>Краткая трудовая биография:</b></p>
        <ul>
          <li>1989-1997: Донецкое монтажное управление специализированного треста "Южтеплоэнергомонтаж". Работал мастером тепломонтажных работ, прорабом, старшим прорабом, главным инженером монтажного управления. Принимал участие в сооружении, пуске, а затем - плано-вом ремонте 5 и 6 энергоблоков Запорожской АЭС (реактор ВВЭР-1000), 2 энергоблока Экибастузской ГРЭС-2</li>
          <li>1997-1999: заместитель главного инженера по капитальному строительству ООО "Энергетик" на объектах тепловых сетей "Мосэнерго"</li>
          <li>1999-2000: начальник монтажного цеха спецкорпуса ЗАО "Атомстройэкспорт" в Иране на строительстве АЭС "Бушер"</li>
          <li>2001-2002: ЗАО "Сезам", старший прораб</li>
          <li>2002-2003: начальник монтажного цеха ЗАО "СеЗАМ" в Иране на АЭС "Бушер"</li>
          <li>2003-2005: заместитель генерального директора ЗАО "Сезам". Принимал участие в достройке, пуске и приёмке (в составе госкомиссии) 3-го энергоблока Калининской АЭС</li>
          <li>2005: генеральный директор ЗАО "Сезам"</li>
          <li>2006: исполнительный директор ЗАО "Сезам"</li>
        </ul>
        <p><b>Телефон:</b> (48255) 7-24-10, 7-24-25, <b>факс:</b> (48255) 7-24-25 , <b>email:</b> sezam@udomlya.ru, sezam-udomlya@rambler.ru</p>
      </div>

      <div class="info-panel person-10">
        <%= image_tag "boldyrev.jpg" %>
        <h2>Болдырев Олег Тимофеевич</h2>
        <h3>Начальник юридического управления ЗАО «Энергоатоминжиниринг»</h3>
        <p><b>Образование:</b> Ставропольский университет, юридический факультет по специальности «Юриспруденция».</p>
        <p><b>Краткая трудовая биография:</b></p>
        <ul>
          <li>1997-1999: юрист в торговых организациях</li>
          <li>1999-2001: начальник юридического отдела в структурном подразделении НК «ЮКОС»</li>
          <li>2001-2005: юрисконсульт, ведущий юрисконсульт, заместитель начальника юридического управления ОАО «Вашъ Финансовый Попечитель»</li>
          <li>2005-2006: юрисконсульт ООО «Группа «Магнезит»</li>
          <li>2006-2008: заместитель генерального директора по правовым вопросам и управлению акционерной собственностью ОАО «Югтранзитсервис» (г.Таганрог)</li>
          <li>2009-2010: начальник юридической службы ОАО «ВНИИМЕТМАШ»</li>
          <li>2010: начальник юридического управления ЗАО «Энергоатоминжиниринг»</li>
        </ul>
        <p><b>Телефон:</b>  (495) 785-55-83, <b>факс:</b> (495) 788-33-81</p>
      </div>

    </div>
  </div>
</div>
