<div class="static-container">
  <div class="static-wrapper pem">
    <div class="section-wrapper">

      <div class="title">
        <h2>ОАО "ПРОМЭЛЕКТРОМОНТАЖ" (ПЭМ)</h2>
      </div>

      <div class="info-panel info-panel-1">
        <%= image_tag "pem_1.jpg" %>
        <h2>О предприятии</h2>
        <p>
          ОАО "Промэлектромонтаж" (ОАО "ПЭМ") - ранее трест "Промэлектромонтаж" - одно из старейших, наиболее опытных и профессиональных предприятий отрасли. Основанное в 1960 году, предприятие было создано для выполнения на территориях России, Украины, Белоруссии, Казахстана, Узбекистана, Прибалтики комплекса электромонтажных и наладочных работ электрооборудования, систем контроля и автоматизации на объектах атомной энергетики и промышленности. Коллектив предприятия насчитывает более 300 высококвалифицированных специалистов.
        </p>
      </div>

      <div class="info-panel info-panel-2">
        <%= image_tag "pem_2.jpg" %>
        <h2>Основной профиль деятельности</h2>
        <p>
          Основной специализацией ОАО "Промэлектромонтаж" являются комплексные электромонтажные и пусконаладочные работы на электрических станциях всех типов. К профильным работам предприятия также относится комплекс работ по проектированию, капитальному строительству, ремонту и реконструкции гражданских и промышленных объектов.
        </p>
      </div>

      <div class="info-panel info-panel-3">
        <%= image_tag "pem_3.jpg" %>
        <h2>Виды выполняемых работ</h2>
        <ul>
          <li>проектирование зданий и сооружений различного предназначения;</li> <li>осуществление функций Генерального проектировщика;</li>
          <li>строительство зданий и сооружений. Выполнение функций "Заказчика - Застройщика";</li>
          <li>специальные строительно-монтажные работы<;/li>
          <li>широкая номенклатура работ и услуг (проектирование, поставка, монтаж, пусконаладка, сервисное и техническое обслуживание) по созданию современных инженерных систем различного предназначения, в том числе новейшие передовые системы;</li>
          <li>проектирование, обследование, испытание и диагностика объектов;</li>
          <li>ремонт, монтаж и наладка объектов электроэнергетики;</li>
          <li>эксплуатация электрических сетей;</li>
          <li>Услуги местной телефонной связи;</li>
          <li>выполнение работ и предоставление услуг эксплуатирующей организации при строительстве блоков атомных станций (АЭС)
          Выполнение работ и предоставление услуг эксплуатирующей организации при ремонте, модернизации и реконструкции действующих блоков атомных станций (АЭС);</li>
          <li>выполнение работ и предоставление услуг эксплуатирующей организации при строительстве объектов, комплексов и установок с ядерными материалами, предназначенных для производства, переработки и транспортирования ядерного топлива и ядерных материалов;</li>
          <li>выполнение работ и предоставление услуг эксплуатирующей организации при ремонте, реконструкции и модернизации объектов, комплексов и установок с ядерными материалами, предназначенных для производства, переработки и транспортирования ядерного топлива;</li>
          <li>конструирование электротехнического оборудования для атомных станций (АЭС);</li>
          <li>проектирование (конструирование) управляющих систем и систем электроснабжения для атомных станций (АЭС);</li>
          <li>выполнение работ и предоставление услуг эксплуатирующей организации комплексов с исследовательскими ядерными реакторами;</li>
          <li>строительно-монтажные, пуско-наладочные работы и услуги на объектах концерна "РОСЭНЕРГОАТОМ";</li>
          <li>ремонт оборудования атомных станций концерна "РОСЭНЕРГОАТОМ";</li>
          <li>Работы и услуги, связанные с созданием средств защиты информации;</li>
          <li>услуги по проведению экспертизы промышленной безопасности;</li>
          <li>услуги по эксплуатации взрывоопасных производственных объектов;</li>
          <li>услуги передвижной электролаборатории ОАО "Промэлектромонтаж" по испытаниям и измерениям электрооборудования и электроустановок напряжением до и выше 1000 В.</li>
        </ul>
      </div>

      <div class="info-panel info-panel-4">
        <h2>Состав предприятия</h2>
        <p>
          <b>Дирекция:</b> ОАО "Промэлектромонтаж", Москва.<br>
          <b>Филиалы:</b> собственные научно-техническая и производственная базы, центры комплектации и складского хозяйства в городах: Нововоронеже (Воронежская область), Удомле (Тверская область), Глазове (республика Удмуртия), Электростали (Московская область), Сосновом Бору (Ленинградская область), Волгодонске (Ростовская область).
        </p>
      </div>

      <div class="info-panel info-panel-5">
        <%= image_tag "pem_5.jpg" %>
        <h2>Объекты</h2>

        <p>
          При непосредственном участии специалистов ОАО "Промэлектромонтаж" введены в эксплуатацию следующие энергетические объекты.
        </p>
        <br>
        <ul>
          <b>Тепловая энергетика</b>
          <li>Пензенская "ТЭЦ-1", (г. Пенза) - инвестиционная программа РАО "ЕЭС России"</li>
          <li>Калининградская "ТЭЦ-2" (г.Калининград) - инвестиционная программа РАО "ЕЭС России"</li>
        </ul>
        <ul>
          <b>Атомная энергетика</b>
          <li>Белоярская АЭС</li>
          <li>Билибинская АЭС</li>
          <li>Калининская АЭС</li>
          <li>Кольская АЭС</li>
          <li>Курская АЭС</li>
          <li>Ленинградская АЭС</li>
          <li>Нововоронежская АЭС</li>
          <li>Обнинская АЭС</li>
          <li>Ростовская (Волгодонская) АЭС</li>
          <li>Смоленская АЭС</li>
          <li>АЭС "Бушер" (Иран)</li>
          <li>Ядерный центр "Тажура" (Ливия)</li>
          <li>Игналинская АЭС (Литва)</li>
          <li>Тяньваньская АЭС (г.Ляньюньгань, КНР)</li>
          <li>ЛЭП 110 Кв (Монголия)</li>
        </ul>
      </div>

      <div class="info-panel info-panel-6">
        <%= image_tag "pem_6.jpg" %>
        <h2>Возможности и технические достижения</h2>
        <ul>
          <li>опыт электромонтажных работ на уникальных установках ядерных и исследовательских центров, головных блоках атомных станций;</li>
          <li>опыт монтажа электростанций с турбогенераторами от 6 до 1500 мВА, специальных аккумуляторных и дизельных установок надёжного питания, монтажа ЛЭП до 330 кВ в условиях горного Алтая, пустыни Кызыл-Кум, монтажа распределительных подстанций с напряжением до 750 кВ, токопроводов и шинопроводов, электротехнического оборудования и распределительных сетей, контрольно-измерительных приборов и приборов радиоизотопной техники, научно-исследовательских и промышленных гамма-установок.</li>
        </ul>
      </div>

      <div class="info-panel info-panel-7">
        <%= image_tag "pem_4.jpg" %>
        <h2>Почётные награды</h2>
        <ul>
          <li>Диплом I-й степени Победителя Всероссийского конкурса на лучшую строительную организацию, предприятие строительных материалов и стройиндустрии, за достижение ОАО "Промэлектромонтаж" высокой эффективности и конкуренто- способности в строительстве и промышленности строительных материалов в новых экономических условиях (г. Москва1999 г.);</li>
          <li>Диплом I-й степени Победителя Всероссийского конкурса на лучшую строительную организацию, предприятие строительных материалов и стройиндустрии, за достижение ОАО "Промэлектромонтаж" высокой эффективности и конкуренто- способности в строительстве и промышленности строительных материалов (г. Москва, 2000 г.);</li>
          <li>Диплом II-й степени Победителя VII Всероссийского конкурса на лучшую строительную организацию, предприятие строительных материалов и стройиндустрии, за достижение ОАО "Промэлектромонтаж" высокой эффективности и конкурентоспособности в строительстве и промышленности строительных материалов (г. Москва, 2001 г.);</li>
          <li>Специальный Диплом Победителя VI Всероссийского конкурса на лучшую строительную организацию, предприятие строительных материалов и стройиндустрии, за освоение ОАО "Промэлектромонтаж" новых эффективных форм организации производства и управления строительством (г. Москва, 2002 г.);</li>
          <li>Диплом - "Лидер строительного комплекса России" (г. Москва, 2003 г.);</li>
          <li>Специальный Диплом Победителя VII Всероссийского конкурса на лучшую строительную организацию, предприятие строительных материалов и стройиндустрии, за освоение ОАО "Промэлектромонтаж" новых эффективных форм организации производства и управления строительством (г. Москва, 2003г.);</li>
          <li>Диплом I степени Победителя VIII Всероссийского конкурса на лучшую строительную организацию, предприятие строительных материалов и стройиндустрии, за достижение ОАО "Промэлектромонтаж" высокой эффективности и конкурентоспособности в строительстве и промышленности строительных материалов (г. Москва, 2004 г.);</li>
          <li>Надёжность партнёрства в строительном комплексе России отмечена внесением ОАО "Промэлектромонтаж" в "Золотую книгу" Московского Предпринимательства".</li>
        </ul>
      </div>

      <div class="info-panel info-panel-8">
        <h2>Лицензии</h2>
        <p>ОАО "Промэлектромонтаж" осуществляет свою деятельность на основе следующих лицензий и свидетельств.</p>
        <br>
        <ul><b>Лицензии Госатомнадзора России:</b>
          <li>на сооружение блоков атомных станций (АС): ЦО-02-101-1218;</li>
          <li>на эксплуатацию блоков атомных станций (АС): ЦО-03-101-1219;</li>
          <li>на сооружение объектов, комплексов и установок с ядерными материалами: ЦО-02-115-1221;</li>
          <li>на эксплуатацию объектов, комплексов и установок с ядерными материалами: ЦО-03-115-1220;</li>
          <li>на эксплуатацию комплексов с исследовательскими ядерными реакторами: ЦО-03-108-2389;</li>
          <li>на конструирование электротехнического оборудования для АЭС: МУ-11-101-0089.</li>
        </ul>
        <ul><b>Лицензия Госгортехнадзора России:</b>
          <li>на эксплуатацию грузоподъёмных кранов: 64ЭК-005690;</li>
          <li>на проведение экспертизы промышленной безопасности: 00-ДЭ-000922 (Т), 00-ДЭ-001926 (Т).</li>
        </ul>
        <ul><b>Лицензии министерства энергетики РФ:</b>
          <li>на осуществление деятельности по эксплуатации электрических сетей: 50018092;</li>
          <li>Федеральное агентство по строительству и жилищно-коммунальному хозяйству;</li>
          <li>на проектирование зданий и сооружений I и II уровней ответственности: Д 53301, Д 533156.</li>
        </ul>
        <ul><b>Лицензия ФСБ РФ:</b>
          <li>на осуществление работ, связанных с использованием сведений, составляющих государственную тайну: Б 322875.</li>
        </ul>
        <ul><b>Лицензии государственной технической комиссии при Президенте Российской Федерации:</b>
          <li>на осуществление мероприятий и (или) оказание услуг в области защиты государственной тайны: 1354;</li>
          <li>на проведение работ, связанных с созданием средств защиты информации: 1355.</li>
        </ul>
        <ul><b>Лицензия МВД ГУ Государственной противопожарной службы:</b>
          <li>на работы и (или) услуги по монтажу, наладке, ремонту и техническому обслуживанию оборудования и систем противопожарной защиты: 11004082.</li>
        </ul>
        <ul><b>Лицензии министерства РФ по делам гражданской обороны, чрезвычайным ситуациям и ликвидации последствий стихийных бедствий: </b>
          <li>на деятельность по предупреждению и тушению пожаров: 1/05621;</li>
          <li>на производство работ по монтажу, ремонту и обслуживанию средств обеспечения пожарной безопасности зданий и сооружений: 2/09593.</li>
        </ul>
        <ul><b>Свидетельства федерального агентства по атомной энергии, ФГУП "Росэнергоатом":</b>
          <li>об аккредитации ОАО "Промэлектромонтаж" на выполнение работ на объектах концерна "Росэнергоатом": 07/10;</li>
          <li>об аккредитации ОАО "Промэлектромонтаж" на исполнение работ по ремонту оборудования атомных станций концерна "Росэнергоатом": 0091;</li>
        </ul>
        <ul><b>Свидетельство РАО ЕЭС России:</b>
          <li>об аккредитации предприятия по монтажу, наладке и ремонту объектов электроэнергетики: 3-5-012303-739.</li>
        </ul>
        <ul><b>Свидетельство государственного комитета по изобретениям и открытиям СССР:</b>
          <li>на товарный знак.</li>
        </ul>
      </div>

    </div>
  </div>
</div>
