<div class="static-container">
  <div class="static-wrapper projects">
    <div class="section-wrapper">

      <div class="table-title">
        <h2>ОАО "ПРОМЭЛЕКТРОМОНТАЖ" (ПЭМ)</h2>
      </div>

      <table class="table-1">
        <thead>
          <tr>
            <th>Начало выполнения работ</th>
            <th>Объект</th>
            <th>Вид выполняемых работ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2003</td>
            <td>Телебашня "Останкино"</td>
            <td><ul>
              <li>демонтаж, монтаж 3-х РП -10/0,4 кВ. Монтаж ТП -10/0,4 кВ ( 2-ух трансформаторов "Trixal" - 1250 кВА, оборудования 10/0,4 кВ "Schneider Electric") на отметке +63,4м</li>
              <li>монтаж 12-ти ГРЩ на отметке +340м. Монтаж шинопровода Сanalis КТА - 25 3Р+N 1000А, Canalis KTA -16 1600А , "Schneider Electric" с отметки +63,4м до отметки +340м</li>
              <li>прокладка силовых кабелей с отметки 0м до +367м</li>
              <li>пусконаладочные работы</li>
            </ul></td>
          </tr>
          <tr>
            <td>2002</td>
            <td>Чепецкий машиностроительный завод (г. Глазов)</td>
            <td><ul>
              <li>обвязка оборудования системы техводоснабжения и охлаждающей станции</li>
              <li>монтаж РУСН 6/0,4кВ. Прокладка силовых и контрольных кабелей монтаж и расключение распределительных щитов в корпусах: гальваническом, штамповочном, сборочном</li>
              <li>монтаж наружного освещения</li>
              <li>пусконаладочные работы</li>
              </ul></td>
          </tr>
          <tr>
            <td>2002</td>
            <td>ФГУП ЛИИ им. М.М. Громова (г. Жуковск)</td>
            <td><ul>
              <li>монтаж светотехнического оборудования вдоль взлетно-посадочной полосы</li>
              <li>прокладка слаботочных кабелей по территории летно-испытательного комплекса</li>
              <li>монтаж и обвязка котельного оборудования</li>
              <li>реконструкция топливно- заправочного комплекса</li>
              <li>реконструкция электрических сетей комплекса административных зданий</li>
              <li>генподрядные работы</li>
              </ul></td>
          </tr>
          <tr>
            <td>2000</td>
            <td>Комплекс зданий и территории Московского Кремля</td>
            <td><ul>
              <li>установка пожарной и охранной сигнализации</li>
              <li>монтаж охранного оборудования по периметру территории Московского Кремля</li>
              <li>электроснабжение системы ОВ и ВК, на комбинате питания Государственного Кремлевского Дворца</li>
              </ul></td>
          </tr>
          <tr>
            <td>2005</td>
            <td>ОАО Московский завод полиметаллов</td>
            <td><ul>
              <li>благоустройство территории завода (асфальтирование, изменение ландшафта)</li>
              <li>общестроительные работы</li>
              <li>электромонтажные работы ( демонтаж оборудования 2-х ТП-10/0,4кВ, монтаж ТП-10/0, 4кВ с комплектацией оборудования "Шнайдер- Электрик", прокладка кабельных сетей 0,4 кВ, 10кВ, монтаж силовых щитов)</li>
              <li>пусконаладочные работы по силовому оборудованию, испытание оборудования и кабельных сетей</li>
            </ul></td>
          </tr>
          <tr>
            <td>2006</td>
            <td>ОАО "Электрозавод"</td>
            <td><ul>
              <li>реконструкция всего завода: электромонтажные работы (демонтаж, монтаж силовых трансформаторов, прокладка силовых, контрольных кабелей; демонтаж, монтаж испытательного оборудования)</li>
              <li>пусконаладочные работы по силовому оборудованию, испытание оборудования и кабельных сетей</li>
              <li>общестроительные работы</li>
              </ul></td>
          </tr>
        </tbody>
      </table>

      <div class="table-title">
        <h2>ЗАО ТП "ГИДРОЭЛЕКТРОМОНТАЖ" (ГЭМ)</h2>
      </div>

      <table class="table-2">
        <thead>
          <tr>
            <th>Начало выполнения работ</th>
            <th>Объект</th>
            <th>Вид выполняемых работ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2003</td>
            <td>Калининская АЭС (блоки 1, 2)</td>
            <td>
              <ul>Реконструкция и ремонт электротехнического оборудования:
                <li>амена гермопроходок</li>
                <li>замена стендов КИП и А и участков импульсных трубопроводов и др.</li>
                <li>замена элегазовых выключателей ОРУ-350</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>2005</td>
            <td>Ростовская АЭС (блок 2)</td>
            <td>
              <ul>
                <li>монтаж кабельных линий и прокладка кабеля основного корпуса и внешних объектов</li>
                <li>монтаж систем пожаротушения</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>2004</td>
            <td>АЭС "Бушер" Иран</td>
            <td>
              <ul>
                <li>монтаж и наладка электротехнического оборудования двух систем безопасности АС</li>
                <li>монтаж импульсных трубопроводов</li>
                <li>изготовление и поставка Стендов первичных преобразователей КИП и А, монтажных профилей и деталей трубопроводов</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>2006</td>
            <td>Калининская АЭС(блок 4)</td>
            <td>
              <ul>
                <li>монтаж кабельных линий и прокладка кабеля сетей временного энергоснабжения и освещения</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>2006</td>
            <td>Завод ООО "Аква Вижион" г. Истра</td>
            <td>
              <ul>
                <li>монтаж и наладка электротехнического оборудования</li>
                <li>монтаж линий электроснабжения</li>
                <li>монтаж и наладка электротехнического оборудования</li>
                <li>монтаж освещения, пожарно-охранной сигнализации и связи</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>2007</td>
            <td>Цимлянская ГЭС, Ростовская область</td>
            <td>
              <ul>
                <li>работы по ремонту гидротехнического узла</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>2006</td>
            <td>АЭС "Куданкулам", Индия</td>
            <td>
              <ul>
                <li>поставка кабельных металлоконструкций и стендов КИПиА</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="table-title">
        <h2>АО "СЕВЗАПАТОММОНТАЖ" (СЕЗАМ)</h2>
      </div>

      <table class="table-3">
        <thead>
          <tr>
            <th>Начало выполнения работ</th>
            <th>Объект</th>
            <th>Вид выполняемых работ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2005</td>
            <td>ОАО "УРСА Чудово" г. Чудово, Новгородская обл</td>
            <td>
              <ul>
                <li>устройство монолитных фундаментов под сушильный барабан песка, установка сушильного барабана песка</li>
                <li>ремонт трубного пучка теплообменника охлаждения дистиллированной воды</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>2006</td>
            <td>ЗАО "Атомтехоэнерго"</td>
            <td>
              <ul>
                <li>контроль металла сварных соединений на трубопроводах, подведомственных Ростехнадзору РФ</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>2006</td>
            <td>ООО НПФ "Метаросса-М" г.Москва</td>
            <td>
              <ul>
                <li>изготовление деталей трубопроводов для ТЭС и АЭС</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>2006</td>
            <td>ООО "Бальбус" г.Москва</td>
            <td>
              <ul>
                <li>изготовление деталей трубопроводов для ТЭС и АЭС</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>2006</td>
            <td>"Ефремовская ТЭЦ" г.Ефремов</td>
            <td>
              <ul>
                <li>изготовление деталей трубопроводов для ТЭС и АЭС</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>2006</td>
            <td>ООО "Трубы 2000"</td>
            <td>
              <ul>
                <li>изготовление деталей трубопроводов для ТЭС и АЭС</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>2006</td>
            <td>ЗАО "АтомТрубопроводМонтаж" г.Москва</td>
            <td>
              <ul>
                <li>изготовление деталей трубопроводов для ТЭС и АЭС</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>2006</td>
            <td>Блок № 2 Ростовская АЭС</td>
            <td>
              <ul>
                <li>монтаж оборудования и трубопроводов</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>2007</td>
            <td>металлургический комбинат "Северсталь", г.Череповец, ген.подрядчик "Спецтрест №3"</td>
            <td>
              <ul>
                <li>ремонт турбин на ТЭЦ</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
