<div class="static-container">
  <div class="static-wrapper promcenter">
    <div class="section-wrapper">

      <div class="title">
        <h2>ЗАО "ПРОМЦЕНТР"</h2>
      </div>

      <div class="info-panel info-panel-1">
        <%= image_tag "promcentr_1.jpg" %>
        <h2>О предприятии</h2>
        <p>
          ЗАО "Промцентр" находится в промышленной зоне г. Сосновый Бор Ленинградской области. Город Сосновый Бор имеет развитую инфраструктуру, градообразующим предприятием является ЛАЭС—Ленинградская атомная электростанция. К предприятию также подходят железнодорожные пути, что дает возможность оперативно отгружать продукцию не только автомобильным, но и железнодорожным транспортом. Грузовое оборудование предприятия позволяет перемещать грузы до 7 тонн.
        </p>
      </div>

      <div class="info-panel info-panel-2">
        <%= image_tag "promcentr_2.jpg" %>
        <h2>Виды выпускаемой продукции</h2>
        <ul>
          <li>кабельные короба;</li>
          <li>сейсмостойкие стеллажи;</li>
          <li>съёмные и несъёмные металлические опалубки по чертежам заказчика;</li>
          <li>металлические окна;</li>
          <li>декоративные ограды и решетки;</li>
          <li>канализационно-насосные станции;</li>
          <li>конвейерная покраска изделий;</li>
          <li>пескоструйная обработка;</li>
          <li>металлические стеллажи для хранения готовой продукции.</li>
        </ul>
      </div>

      <div class="info-panel info-panel-3">
        <%= image_tag "promcentr_3.jpg" %>
        <h2>Лицензии и сертификаты</h2>
        <ul>
          <li>лицензия на изготовление оборудования для атомных станций;</li>
          <li>лицензия на строительство зданий и сооружений I и II уровней ответственности в соответствии с государственными стандартами;</li>
          <li>сертификат соответствия "Устройства комплектные низковольтные".</li>
        </ul>
      </div>

      <div class="info-panel info-panel-1">
        <%= image_tag "promcentr_4.jpg" %>
        <h2>Объекты</h2>
        <ul><b>ЗАО «Промцентр» изготовило и поставило оборудование на следующие объекты:</b>
          <li>Ленинградская АЭС</li>
          <li>Билибинская АЭС</li>
          <li>Балакановская АЭС</li>
          <li>Волгодонская АЭС</li>
          <li>Курская АЭС</li>
          <li>Ростовская АЭС</li>
          <li>Иран АЭС "Бушер-1"</li>
          <li>ОАО "Промэлектромонтаж" (Холдинг "Энергоатоминжиниринг")</li>
          <li>ОАО "СЭМ"</li>
          <li>СМСУ-80</li>
          <li>СМНУ "КВАРС"</li>
          <li>СМУП "АТП"</li>
          <li>Ломоносовский РУС</li>
          <li>СУ 303 УССТ-3</li>
          <li>Строительная компания «Ораниенбаум»</li>
          <li>ФГУП СНПО «Элерон»</li>
          <li>ФГУП «Радон»</li>
          <li>ООО «Проба»</li>
          <li>ЗАО «Балткабель»</li>
          <li>ЗАО «Юнимет»</li>
          <li>ОАО Волгоградская фирма "Нефтемашзавод"</li>
          <li>Тверское предприятие ЗАО «Гидроэлектромонтаж»</li>
          <li>Санкт-Петербургский филиал "СевЗапэлектросетьстрой"</li>
          <li>ЗАО «CONSYS»</li>
        </ul>
      </div>

    </div>
  </div>
</div>
