<div class="static-container">
  <div class="static-wrapper sezam">
    <div class="section-wrapper">

      <div class="title">
        <h2>АО "СЕВЗАПАТОММОНТАЖ" (СЕЗАМ)</h2>
      </div>

      <div class="info-panel info-panel-1">
        <%= image_tag "sezam_1.jpg" %>
        <h2>О предприятии</h2>
        <p>
          Акционерное Общество "СЕЗАМ" создано в 1991 году на базе Тверского монтажного управления треста "Севзапэнергомонтаж". Общая численность работников, специалистов во всех подразделениях предприятия превышает 300 человек. В структуре рабочих основу составляют слесари-монтажники, электросварщики, дефектоскописты, контролёры.
        </p>
      </div>

      <div class="info-panel info-panel-1">
        <%= image_tag "sezam_2.jpg" %>
        <h2>Основной профиль деятельности</h2>
        <p>
          Это специализированное предприятие по монтажу тепломеханического оборудования и технологических трубопроводов, изготовлению и монтажу металлоконструкций и нестандартного оборудования, изготовлению трубопроводов для промышленности и энергетики.<br>
          Производственная база предприятия находится на территории промышленной площадки Калининской атомной станции, близ города Удомля Тверской области. Представлена цехами предмонтажной подготовки, сварки, кислородно-газификационной станцией, мастерской тепломонтажных работ, сборочно-укрупнительной площадкой технологического оборудования с козловым краном, хранилищем радиоактивных изотопов. Предприятие располагает подъездными ж/д путями, имеет подготовленные открытые площадки для хранения оборудования и все необходимые службы и оснащение для качественного выполнения работ на любом промышленном и энергетическом объекте.
        </p>
      </div>

      <div class="info-panel info-panel-3">
        <%= image_tag "sezam_1.jpg" %>
        <h2>Выполняемые виды работ</h2>
        <ul>
          <li>предмонтажная подготовка;</li>
          <li>сварка;</li>
          <li>тепломонтажные работы;</li>
          <li>монтаж трубопроводов;</li>
          <li>монтаж металлоконструкций;</li>
          <li>предпусковые монтажные работы на энергоблоках;</li>
          <li>ремонтно-восстановительные работы.</li>
        </ul>
      </div>

      <div class="info-panel info-panel-4">
        <h2>Состав предприятия</h2>
        <p>
          <b>Дирекция:</b> ЗАО "СЕЗАМ", г. Удомля, Тверская область.<br>
          <b>Филиалы:</b> Ростовский филиал на промплощадке строящегося энергоблока № 2 РостАЭС (Дубовский район Ростовской области в 13,5 км от г. Волгодонска).
        </p>
      </div>

      <div class="info-panel info-panel-5">
        <h2>Объекты</h2>
        <ul><b>Монтаж основного тепломеханического оборудования и трубопроводов на строительстве Калининской атомной электростанции:</b>
          <li>корпуса реактора;</li>
          <li>главного циркуляционного трубопровода;</li>
          <li>оборудования I контура;</li>
          <li>технологических трубопроводов;</li>
          <li>технологических металлоконструкций.</li>
        <ul>
      </div>

      <div class="info-panel info-panel-6">
        <h2>Лицензии</h2>
        <p>Для выполнения работ по изготовлению и монтажу трубопроводов и оборудования атомных станций ЗАО "СЕЗАМ" располагает следующими лицензиями.</p><br>
        <ul><b>Лицензии Госатомнадзора Р</b>
          <li>на право эксплуатации, в части выполнения отдельных работ, атомных станций;</li>
          <li>на изготовление оборудования для атомных электростанций;</li>
          <li>на сооружение, в части выполнения отдельных работ, атомной станции;</li>
          <li>на эксплуатацию радиационного источника: аппаратов, в которых содержатся радиоактивные вещества;</li>
        </ul>
        <ul><b>Лицензия Госгортехнадзора России:</b>
          <li>на осуществление деятельности по строительству объектов газового хозяйства;</li>
        </ul>
        <ul><b>Лицензия Государственного комитета Российской Федерации по строительству и жилищно-коммунальному комплексу:</b>
          <li>на осуществление деятельности по строительству зданий и сооружений I и II уровней ответственности;</li>
        </ul>
        <ul><b>Аккредитация концерна "Росэнергоатом":</b>
          <li>на выполнение работ на объектах концерна "Росэнергоатом".</li>
        </ul>
      </div>

    </div>
  </div>
</div>
