<div class="static-container">
  <div class="static-wrapper statistics">
    <div class="section-wrapper">

      <div class="table-title">
        <h2>Объемы выполненных строительно-монтажных работ (млн.руб)</h2>
      </div>

      <table class="table-1">
        <thead>
          <tr>
            <th>ГОД/КОМПАНИЯ</th>
            <th>ОАО "ПЭМ"</th>
            <th>ЗАО ТВП "ГЭМ"</th>
            <th>АО "СЕЗАМ"</th>
            <th>ИТОГО</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2001</td>
            <td>590</td>
            <td>102</td>
            <td>53</td>
            <td>745</td>
          </tr>
          <tr>
            <td>2002</td>
            <td>650</td>
            <td>228</td>
            <td>142</td>
            <td>1020</td>
          </tr>
          <tr>
            <td>2003</td>
            <td>483</td>
            <td>834</td>
            <td>364</td>
            <td>1681</td>
          </tr>
          <tr>
            <td>2004</td>
            <td>630</td>
            <td>720</td>
            <td>360</td>
            <td>1710</td>
          </tr>
          <tr>
            <td>2005</td>
            <td>730</td>
            <td>220</td>
            <td>100</td>
            <td>1050</td>
          </tr>
          <tr>
            <td>2006</td>
            <td>550</td>
            <td>900</td>
            <td>150</td>
            <td>1600</td>
          </tr>
          <tr>
            <td>2007</td>
            <td>300</td>
            <td>415</td>
            <td>108</td>
            <td>823</td>
          </tr>
          <tr>
            <td>2008</td>
            <td>400</td>
            <td>1000</td>
            <td>230</td>
            <td>1630</td>
          </tr>
          <tr>
            <td>2009</td>
            <td>350</td>
            <td>900</td>
            <td>240</td>
            <td>1490</td>
          </tr>
        </tbody>
      </table>

      <div class="table-title">
        <h2>Численность работающих на предприятиях холдинга</h2>
      </div>

      <table class="table-2">
        <thead>
          <tr>
            <th>ГОД/КОМПАНИЯ</th>
            <th>ОАО "ПЭМ"</th>
            <th>ЗАО ТВП "ГЭМ"</th>
            <th>АО "СЕЗАМ"</th>
            <th>ИТОГО</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2001</td>
            <td>950</td>
            <td>360</td>
            <td>330</td>
            <td>1640</td>
          </tr>
          <tr>
            <td>2002</td>
            <td>1120</td>
            <td>650</td>
            <td>410</td>
            <td>2180</td>
          </tr>
          <tr>
            <td>2003</td>
            <td>1310</td>
            <td>980</td>
            <td>600</td>
            <td>2890</td>
          </tr>
          <tr>
            <td>2004</td>
            <td>1040</td>
            <td>1000</td>
            <td>540</td>
            <td>2580</td>
          </tr>
          <tr>
            <td>2005</td>
            <td>310</td>
            <td>730</td>
            <td>370</td>
            <td>1410</td>
          </tr>
          <tr>
            <td>2006</td>
            <td>320</td>
            <td>800</td>
            <td>320</td>
            <td>1440</td>
          </tr>
          <tr>
            <td>2007</td>
            <td>200</td>
            <td>820</td>
            <td>320</td>
            <td>1340</td>
          </tr>
          <tr>
            <td>2008</td>
            <td>250</td>
            <td>830</td>
            <td>346</td>
            <td>1426</td>
          </tr>
          <tr>
            <td>2009</td>
            <td>300</td>
            <td>820</td>
            <td>360</td>
            <td>1480</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
