<% provide :title, "Форум" %>

<div class="wrapper">
  <%= render 'shared/flash' %>

  <section class="forum-index">
    <%= render 'layouts/forum/index_template' %>
    <% if logged_in? && current_user.admin? %>
      <%= render 'layouts/forum/new_form' %>
    <% end %>
  </section>

</div>
