<% provide :title, @forum.name %>

<div class="wrapper">
  <%= render 'shared/flash' %>

  <section class="forum-show box">
    <div class="forum-show-heading heading">
      <span><%= name_with_restriction(@forum) %></span>
      <%= link_to "< К разделам", forums_path, class: "forum-heading-btn" %>

      <div class="mini-menu">
        <div class="mini-menu-img"></div>
        <ul>
          <% if logged_in? %>
            <li>
              <%= link_to "Новая тема", new_forum_topic_path(@forum, @topic) %>
            </li>
          <% else %>
            <li><a class="disabled">Новая тема</a></li>
          <% end %>

          <% if current_user && @current_user.admin? %>
            <li><%= link_to "Редактировать", edit_forum_path(@forum) %></li>
            <li><%= link_to "Удалить", forum_url(@forum), method: :delete, data: { confirm: "Вы уверены, что хотите удалить этот раздел?"} %></li>
          <% else %>
            <li><a class="disabled">Редактировать</a></li>
            <li><a class="disabled">Удалить</a></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="forum-show-body index-table">
      <% if @topics == [] %>
        <span>Здесь пока ничего нет</span>
      <% else %>
        <table>

          <thead>
            <tr>
              <th>Название темы</th>
              <th>Сообщения</th>
              <th>Создал</th>
              <th>Дата создания</th>
            </tr>
          </thead>

          <tbody>
          <%= render "layouts/topic/forum_topic_mini" %>
          </tbody>

        </table>
      <% end %>
    </div>

    <%= will_paginate @topics, :inner_window => '1' %>

  </section>
</div>
