<p>Здравствуйте, <%= @user.name %>!</p>

<p>Добро пожаловать на сайт "ЭНЕРГОАТОМИНЖИНИРИНГ"! Пройдите по ссылке внизу, чтобы активировать свой аккаунт.</p>
<%= link_to "Активация", edit_account_activation_url(@user.activation_token, email: @user.email) %>
