Здравствуйте, <%= @user.name %>!

Добро пожаловать на сайт "ЭНЕРГОАТОМИНЖИНИРИНГ"! Пройдите по ссылке внизу, чтобы активировать свой аккаунт.
<%= edit_account_activation_url(@user.activation_token, email: @user.email) %>
