<h1>Сброс пароля</h1>

<p>Чтобы сбросить свой пароль, перейдите по ссылке внизу:</p>

<%= link_to "Сброс пароля", edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>Если вы не запрашивали ссылку для смены пароля, игнорируйте это сообщение и ваш пароль останется тем же.</p>
