Чтобы сбросить свой пароль, перейдите по ссылке внизу:

<%= edit_password_reset_url(@user.reset_token, email: @user.email) %>

Если вы не запрашивали ссылку для смены пароля, игнорируйте это сообщение и ваш пароль останется тем же.
