/* line 44, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
body {
  font-family: "PT serif", serif;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

/*-------------------miscellaneous-classes------------------*/
/* line 53, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.wrapper {
  padding: 0;
  margin: 0 auto;
  max-width: 2700px;
  position: relative;
  background: #e7edef;
  background-image: url(/assets/bgr_1-f68feef6fafc6a68a0ed150a28fadd43931449782de5ee38022f9234c97f50c0.png);
  /*background-image: image_url('main_background_faded.png');
  background-repeat: no-repeat;
  background-position: top center;*/
  min-height: 90vh;
  padding: 30px;
}

/* line 68, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.hidden {
  display: none;
}

/* line 72, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.container {
  width: auto;
  min-width: 1030px;
  margin: 0 auto;
}

/* line 78, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.overflow {
  white-space: nowrap;
  overflow: hidden;
}

/* line 83, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.ellipsis {
  text-overflow: ellipsis;
}

/* line 87, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.divider {
  margin: 10px 0px;
  border: 2px solid #0589bd;
}

/*-------------------miscellaneous-classes-end------------------*/
/*-------------------main-menu------------------*/
/* line 96, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
nav {
  background: #2cbff9;
  width: auto;
  position: relative;
  z-index: 100;
}

/* line 103, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
}

/* line 111, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
nav ul li {
  display: inline-block;
  position: relative;
  padding: 0;
  margin: 0;
}

/* submenu */
/* line 118, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.submenu {
  background: transparent;
  position: absolute;
  left: -50px;
  right: -50px;
  perspective: 1000px;
}

/* line 126, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.submenu li {
  display: none;
  margin-bottom: 3px;
  background: #2cbff9;
}

/* menu animation  */
/* line 133, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
nav > ul > li:hover .submenu > li {
  display: block;
  opacity: 0;
  animation-name: menu;
  animation-duration: 400ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

/* line 142, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
nav > ul > li:hover .submenu > li:nth-child(2) {
  animation-delay: 100ms;
}

/* line 146, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
nav > ul > li:hover .submenu > li:nth-child(3) {
  animation-delay: 200ms;
}

/* line 150, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
nav > ul > li:hover .submenu > li:nth-child(4) {
  animation-delay: 300ms;
}

/* line 154, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
nav > ul > li:hover .submenu > li:nth-child(5) {
  animation-delay: 400ms;
}

/* line 158, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
nav > ul > li:hover .submenu > li:nth-child(6) {
  animation-delay: 500ms;
}

@keyframes menu {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
/* menu animation end */
/* line 175, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.submenu li:first-child {
  margin-top: 3px;
}

/* line 179, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.submenu ul li:last-child {
  border: none;
}

/* submenu end */
/* line 184, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
nav.align-center ul {
  text-align: center;
}

/* line 188, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
nav ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 20px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  transition: color .25s;
}

/* line 201, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
nav ul li a:hover {
  color: #0d4356;
}

/* line 205, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
nav ul li a:hover:before {
  width: 100%;
}

/* line 209, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
nav ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #0d4356;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  transition: width .25s;
}

/* line 221, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
nav ul li.active > a {
  color: #0d4356;
}

/* line 224, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
nav ul li.active > a:before {
  width: 100%;
}

/*-------------------main-menu-end------------------*/
/*-------------------flash------------------*/
/* line 230, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.flash {
  text-align: center;
  display: block;
  margin: 30px;
  margin-top: 0px;
  color: white;
  font-size: 24px;
  padding: 30px;
}

/* line 240, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.flash.danger {
  background: rgba(200, 4, 4, 0.6);
}

/* line 244, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.flash.success {
  background: rgba(30, 190, 59, 0.6);
}

/* line 248, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.flash.info {
  background: rgba(5, 137, 189, 0.6);
}

/*-------------------flash-end------------------*/
/* ---------redacted-pop-up----------------*/
/* line 257, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.pop-up .pop-up-content {
  z-index: 91;
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 15px;
  width: 340px;
  background: rgba(255, 255, 255, 0.9);
  color: #0d4356;
  border: 1px solid #0d4356;
}
/* line 269, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.pop-up .pop-up-trigger {
  z-index: 91;
  position: absolute;
  display: block;
  height: 10px;
  width: 10px;
  background: #0d4356;
  top: 3px;
  right: 3px;
}
/* line 280, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.pop-up:hover .pop-up-content {
  display: block;
}

/*----------redacted-pop-up-end-----*/
/*-------------------form------------------*/
/* line 290, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.login-form form, .reg-form form, .topic-new-form form, .topic-edit-form form, .forum-edit-form form, .mini-menu form, .user-update-form form, .message-edit-form form, .pwd-reset-form form, .pwd-reset-email-form form {
  border: 10px solid rgba(5, 137, 189, 0.6);
  margin: 0;
  padding: 20px;
  background: white;
  background: white;
  color: #0d4356;
}
/* line 299, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.login-form form h2, .reg-form form h2, .topic-new-form form h2, .topic-edit-form form h2, .forum-edit-form form h2, .mini-menu form h2, .user-update-form form h2, .message-edit-form form h2, .pwd-reset-form form h2, .pwd-reset-email-form form h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 30px;
  text-align: center;
}
/* line 306, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.login-form form .field_with_errors, .reg-form form .field_with_errors, .topic-new-form form .field_with_errors, .topic-edit-form form .field_with_errors, .forum-edit-form form .field_with_errors, .mini-menu form .field_with_errors, .user-update-form form .field_with_errors, .message-edit-form form .field_with_errors, .pwd-reset-form form .field_with_errors, .pwd-reset-email-form form .field_with_errors {
  display: inline;
}
/* line 310, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.login-form form input[type="text"], .login-form form input[type="email"], .login-form form input[type="password"], .login-form form textarea, .login-form form select, .reg-form form input[type="text"], .reg-form form input[type="email"], .reg-form form input[type="password"], .reg-form form textarea, .reg-form form select, .topic-new-form form input[type="text"], .topic-new-form form input[type="email"], .topic-new-form form input[type="password"], .topic-new-form form textarea, .topic-new-form form select, .topic-edit-form form input[type="text"], .topic-edit-form form input[type="email"], .topic-edit-form form input[type="password"], .topic-edit-form form textarea, .topic-edit-form form select, .forum-edit-form form input[type="text"], .forum-edit-form form input[type="email"], .forum-edit-form form input[type="password"], .forum-edit-form form textarea, .forum-edit-form form select, .mini-menu form input[type="text"], .mini-menu form input[type="email"], .mini-menu form input[type="password"], .mini-menu form textarea, .mini-menu form select, .user-update-form form input[type="text"], .user-update-form form input[type="email"], .user-update-form form input[type="password"], .user-update-form form textarea, .user-update-form form select, .message-edit-form form input[type="text"], .message-edit-form form input[type="email"], .message-edit-form form input[type="password"], .message-edit-form form textarea, .message-edit-form form select, .pwd-reset-form form input[type="text"], .pwd-reset-form form input[type="email"], .pwd-reset-form form input[type="password"], .pwd-reset-form form textarea, .pwd-reset-form form select, .pwd-reset-email-form form input[type="text"], .pwd-reset-email-form form input[type="email"], .pwd-reset-email-form form input[type="password"], .pwd-reset-email-form form textarea, .pwd-reset-email-form form select {
  background: white;
  padding: 10px 5px;
  margin-bottom: 10px;
  font-size: 20px;
  width: 100%;
  box-sizing: border-box;
  color: #0d4356;
}
/* line 320, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.login-form form input[type="checkbox"], .reg-form form input[type="checkbox"], .topic-new-form form input[type="checkbox"], .topic-edit-form form input[type="checkbox"], .forum-edit-form form input[type="checkbox"], .mini-menu form input[type="checkbox"], .user-update-form form input[type="checkbox"], .message-edit-form form input[type="checkbox"], .pwd-reset-form form input[type="checkbox"], .pwd-reset-email-form form input[type="checkbox"] {
  height: 40px;
  width: 40px;
  vertical-align: middle;
}
/* line 326, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.login-form form input[type="submit"], .reg-form form input[type="submit"], .topic-new-form form input[type="submit"], .topic-edit-form form input[type="submit"], .forum-edit-form form input[type="submit"], .mini-menu form input[type="submit"], .user-update-form form input[type="submit"], .message-edit-form form input[type="submit"], .pwd-reset-form form input[type="submit"], .pwd-reset-email-form form input[type="submit"] {
  display: block;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  border: none;
  width: 100%;
  box-sizing: border-box;
  background: #0589bd;
  padding: 15px;
  margin: 10px auto;
  margin-bottom: 0px;
}
/* line 340, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.login-form form input[type="submit"]:hover, .reg-form form input[type="submit"]:hover, .topic-new-form form input[type="submit"]:hover, .topic-edit-form form input[type="submit"]:hover, .forum-edit-form form input[type="submit"]:hover, .mini-menu form input[type="submit"]:hover, .user-update-form form input[type="submit"]:hover, .message-edit-form form input[type="submit"]:hover, .pwd-reset-form form input[type="submit"]:hover, .pwd-reset-email-form form input[type="submit"]:hover {
  background: #0589bd;
  color: white;
}
/* line 345, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.login-form form p, .reg-form form p, .topic-new-form form p, .topic-edit-form form p, .forum-edit-form form p, .mini-menu form p, .user-update-form form p, .message-edit-form form p, .pwd-reset-form form p, .pwd-reset-email-form form p {
  margin: 0;
}
/* line 347, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.login-form form p a, .reg-form form p a, .topic-new-form form p a, .topic-edit-form form p a, .forum-edit-form form p a, .mini-menu form p a, .user-update-form form p a, .message-edit-form form p a, .pwd-reset-form form p a, .pwd-reset-email-form form p a {
  text-decoration: none;
  color: #0589bd;
}
/* line 350, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.login-form form p a:hover, .reg-form form p a:hover, .topic-new-form form p a:hover, .topic-edit-form form p a:hover, .forum-edit-form form p a:hover, .mini-menu form p a:hover, .user-update-form form p a:hover, .message-edit-form form p a:hover, .pwd-reset-form form p a:hover, .pwd-reset-email-form form p a:hover {
  color: #2cbff9;
}

/* line 357, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.login-form, .reg-form, .topic-new-form, .topic-edit-form, .forum-edit-form, .message-edit-form, .pwd-reset-form, .pwd-reset-email-form {
  display: block;
  margin: 0 auto;
  padding: 0px;
  width: 500px;
}

/* line 365, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.forum-edit-form select.disabled {
  border: 1px solid gray;
  color: gray;
}
/* line 369, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.forum-edit-form label.disabled {
  color: gray;
}

/* line 374, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.topic-new-form, .topic-edit-form {
  width: 800px;
}
/* line 376, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.topic-new-form textarea, .topic-edit-form textarea {
  resize: none;
  height: 300px;
}

/* line 382, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.message-edit-form {
  width: 600px;
}
/* line 384, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.message-edit-form textarea {
  resize: none;
  height: 300px;
}

/* line 391, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-update-form form {
  border: none;
}
/* line 394, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-update-form textarea {
  resize: none;
  height: 200px;
}

/* line 400, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.log-form form input[type="submit"] {
  margin-bottom: 15px;
}

/*-------------------form-end-----------------*/
/*-------------------forum-mini-template------------------*/
/* line 409, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.forum-index {
  text-align: center;
  padding: 0;
  margin: 0 auto;
  width: 1030px;
}

/* line 416, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.forum-mini {
  vertical-align: top;
  margin: 0;
  margin-bottom: 20px;
  background: white;
  position: relative;
  width: 40%;
  display: inline-block;
  padding: 0px;
  border: 10px solid rgba(5, 137, 189, 0.6);
  color: #0d4356;
  position: relative;
  z-index: 15;
}
/* line 429, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.forum-mini .forum-mini-img {
  position: relative;
  border: 3px solid #0589bd;
  border-radius: 100px;
  margin: 10px auto;
  width: 150px;
  height: 150px;
}
/* line 436, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.forum-mini .forum-mini-img img {
  position: absolute;
  top: 20px;
  left: 35px;
}
/* line 443, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.forum-mini .forum-mini-heading {
  margin-bottom: 10px;
}
/* line 447, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.forum-mini .forum-mini-heading a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  color: #0589bd;
}
/* line 452, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.forum-mini .forum-mini-heading a:hover {
  color: #2cbff9;
}
/* line 457, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.forum-mini .forum-mini-body {
  padding: 0px;
}
/* line 459, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.forum-mini .forum-mini-body table {
  border-collapse: collapse;
  width: 100%;
}
/* line 462, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.forum-mini .forum-mini-body table tr {
  border-bottom: 1px solid rgba(5, 137, 189, 0.6);
}
/* line 465, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.forum-mini .forum-mini-body table tr:first-child {
  border-top: 1px solid rgba(5, 137, 189, 0.6);
}
/* line 468, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.forum-mini .forum-mini-body table tr:last-child {
  border: none;
}
/* line 471, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.forum-mini .forum-mini-body table td {
  margin: 0;
  padding: 5px 0px;
}
/* line 475, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.forum-mini .forum-mini-body table tr td:first-child {
  border-right: 1px solid rgba(5, 137, 189, 0.6);
}
/* line 479, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.forum-mini .forum-mini-body a {
  text-decoration: none;
  color: #0589bd;
}
/* line 482, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.forum-mini .forum-mini-body a:hover {
  color: #2cbff9;
}

/* line 489, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.forum-mini:nth-child(2n+1) {
  margin-right: 20px;
}

/* line 493, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.forum-new {
  height: 408px;
}
/* line 495, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.forum-new .forum-mini-heading span {
  display: block;
  color: #0589bd;
  text-transform: uppercase;
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 27px;
}

/* line 507, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.mini-menu .mini-menu-img {
  z-index: 99;
  content: "";
  background-image: url(/assets/menu-icon-blue-5e24854ebf871878705ae250a9148f10bb10beed803be627df8ad67bb005a4ba.png);
  background-size: 30px 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  animation-name: forum-mini-menu-img-blue-animation;
  animation-duration: 400ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
/* line 523, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.mini-menu ul, .mini-menu form {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(46, 192, 250, 0.6);
  margin: 0;
  display: none;
}
/* line 534, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.mini-menu ul {
  margin: 0;
  padding: 20px;
  padding-top: 100px;
  list-style: none;
}
/* line 539, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.mini-menu ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  box-sizing: border-box;
  color: white;
  border: 2px solid white;
  background: rgba(5, 137, 189, 0.6);
}
/* line 552, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.mini-menu ul li a:hover {
  border: 2px solid #0d4356;
  background: rgba(255, 255, 255, 0.9);
  color: #0d4356;
}
/* line 558, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.mini-menu ul li a.disabled {
  background: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9) 2px, transparent 2px, transparent 10px);
  cursor: default;
  color: rgba(255, 255, 255, 0.9);
}
/* line 562, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.mini-menu ul li a.disabled:hover {
  background: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9) 2px, transparent 2px, transparent 10px);
  border: 2px solid white;
  color: rgba(255, 255, 255, 0.9);
}
/* line 570, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.mini-menu:hover ul, .mini-menu:hover form {
  display: block;
}
/* line 573, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.mini-menu:hover .mini-menu-img {
  background-image: url(/assets/menu-icon-white-5cc24909fbb8f926909ef5182aa3d37f1bab7a1e5d4aa440c41602bc746e4e3b.png);
  animation-name: forum-mini-menu-img-white-animation;
  animation-duration: 400ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
/* line 581, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.mini-menu form {
  border: none;
  text-align: left;
  padding-top: 100px;
}
/* line 586, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.mini-menu form input[type="text"], .mini-menu form select {
  font-size: 20px;
  padding: 10px;
  margin-bottom: 5px;
}
/* line 592, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.mini-menu form input[type="submit"] {
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
}

@keyframes forum-mini-menu-img-white-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes forum-mini-menu-img-blue-animation {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/*-------------------forum-mini-template-end------------------*/
/* line 622, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.box {
  z-index: 15;
  display: block;
  background: white;
  width: 1200px;
  border: 1px solid #0589bd;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

/* line 633, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.heading {
  background: #0589bd;
  text-align: center;
  position: relative;
  padding: 15px 10px;
}
/* line 638, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.heading .forum-heading-btn {
  display: inline-block;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 5px;
  background: transparent;
  padding: 15px;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  cursor: pointer;
}
/* line 650, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.heading .forum-heading-btn:hover {
  color: rgba(255, 255, 255, 0.9);
}
/* line 654, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.heading span {
  color: white;
  font-size: 30px;
}
/* line 660, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.heading .mini-menu .mini-menu-img {
  background-image: url(/assets/menu-icon-white-5cc24909fbb8f926909ef5182aa3d37f1bab7a1e5d4aa440c41602bc746e4e3b.png);
  background-size: 30px 30px;
  top: 20px;
}
/* line 665, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.heading .mini-menu ul {
  background: #0589bd;
  padding: 5px;
  text-align: center;
}
/* line 669, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.heading .mini-menu ul li {
  display: inline-block;
  font-size: 20px;
}
/* line 672, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.heading .mini-menu ul li a {
  width: 250px;
  font-size: 20px;
}

/* line 681, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.index-table {
  text-align: center;
}
/* line 683, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.index-table span {
  display: inline-block;
  font-size: 24px;
  padding: 100px;
}
/* line 688, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.index-table table {
  width: 100%;
  border-collapse: collapse;
}
/* line 691, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.index-table table tr {
  border-bottom: 1px solid #0589bd;
}
/* line 693, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.index-table table tr td, .index-table table tr th {
  padding: 15px 10px;
  color: #0d4356;
}
/* line 696, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.index-table table tr td a, .index-table table tr th a {
  text-decoration: none;
  color: #0589bd;
}
/* line 699, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.index-table table tr td a:hover, .index-table table tr th a:hover {
  color: #2cbff9;
}
/* line 705, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.index-table table tbody tr:last-child {
  border: none;
}

/* line 712, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.forum-show table {
  font-size: 24px;
}

/* line 717, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.topic-show {
  margin-bottom: 10px;
}
/* line 719, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.topic-show .topic-show-body {
  padding: 20px;
  color: #0d4356;
  font-size: 20px;
  word-wrap: break-word;
}
/* line 725, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.topic-show .topic-show-footer {
  position: relative;
  background: #0589bd;
  padding: 5px 15px;
  font-size: 16px;
  color: white;
}
/* line 733, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.topic-show .topic-show-footer .pop-up .pop-up-content {
  color: #0d4356;
  font-size: 20px;
  right: 10px;
  top: -60px;
}
/* line 739, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.topic-show .topic-show-footer .pop-up .pop-up-trigger {
  top: 10px;
  right: 15px;
  background: white;
}
/* line 744, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.topic-show .topic-show-footer .pop-up:hover .pop-up-trigger {
  background: #0d4356;
}
/* line 749, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.topic-show .topic-show-footer a {
  color: white;
  text-decoration: underline;
}
/* line 752, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.topic-show .topic-show-footer a:hover {
  color: #b0e8fc;
}

/* line 759, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.new-message-form {
  margin-bottom: 20px;
}
/* line 761, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.new-message-form form {
  min-width: 1000px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}
/* line 766, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.new-message-form form textarea {
  font-size: 20px;
  padding: 5px;
  display: block;
  width: 100%;
  resize: none;
  height: 100px;
  box-sizing: border-box;
  color: #0d4356;
}
/* line 776, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.new-message-form form input[type="submit"] {
  display: block;
  font-size: 20px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  width: 100%;
  background: #0589bd;
  padding: 10px 0px;
  margin: 0;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

/* messages and topics mini templates */
/* line 795, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.messages, .topics {
  border: none;
  background: transparent;
}
/* line 798, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.messages .message-mini, .messages .topic-mini, .topics .message-mini, .topics .topic-mini {
  border: 1px solid #0589bd;
  background: white;
  padding: 10px;
  margin-bottom: 10px;
}
/* line 803, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.messages .message-mini .topic-mini-heading, .messages .topic-mini .topic-mini-heading, .topics .message-mini .topic-mini-heading, .topics .topic-mini .topic-mini-heading {
  border-bottom: 1px solid #0589bd;
  padding-bottom: 10px;
}
/* line 807, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.messages .message-mini .message-mini-body, .messages .message-mini .topic-mini-heading, .messages .message-mini .topic-mini-body, .messages .topic-mini .message-mini-body, .messages .topic-mini .topic-mini-heading, .messages .topic-mini .topic-mini-body, .topics .message-mini .message-mini-body, .topics .message-mini .topic-mini-heading, .topics .message-mini .topic-mini-body, .topics .topic-mini .message-mini-body, .topics .topic-mini .topic-mini-heading, .topics .topic-mini .topic-mini-body {
  color: #0d4356;
  font-size: 20px;
  margin-bottom: 10px;
}
/* line 812, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.messages .message-mini .message-mini-footer, .messages .message-mini .topic-mini-footer, .messages .topic-mini .message-mini-footer, .messages .topic-mini .topic-mini-footer, .topics .message-mini .message-mini-footer, .topics .message-mini .topic-mini-footer, .topics .topic-mini .message-mini-footer, .topics .topic-mini .topic-mini-footer {
  z-index: 90;
  color: #0d4356;
  position: relative;
  padding-top: 10px;
  font-size: 18px;
  border-top: 1px solid #0589bd;
}
/* line 819, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.messages .message-mini .message-mini-footer .info, .messages .message-mini .topic-mini-footer .info, .messages .topic-mini .message-mini-footer .info, .messages .topic-mini .topic-mini-footer .info, .topics .message-mini .message-mini-footer .info, .topics .message-mini .topic-mini-footer .info, .topics .topic-mini .message-mini-footer .info, .topics .topic-mini .topic-mini-footer .info {
  display: inline-block;
  max-width: 500px;
}
/* line 823, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.messages .message-mini .message-mini-footer span, .messages .message-mini .topic-mini-footer span, .messages .topic-mini .message-mini-footer span, .messages .topic-mini .topic-mini-footer span, .topics .message-mini .message-mini-footer span, .topics .message-mini .topic-mini-footer span, .topics .topic-mini .message-mini-footer span, .topics .topic-mini .topic-mini-footer span {
  font-size: 18px;
  position: absolute;
  right: 10px;
}
/* line 828, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.messages .message-mini .message-mini-footer a, .messages .message-mini .topic-mini-footer a, .messages .topic-mini .message-mini-footer a, .messages .topic-mini .topic-mini-footer a, .topics .message-mini .message-mini-footer a, .topics .message-mini .topic-mini-footer a, .topics .topic-mini .message-mini-footer a, .topics .topic-mini .topic-mini-footer a {
  color: #0d4356;
}
/* line 830, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.messages .message-mini .message-mini-footer a:hover, .messages .message-mini .topic-mini-footer a:hover, .messages .topic-mini .message-mini-footer a:hover, .messages .topic-mini .topic-mini-footer a:hover, .topics .message-mini .message-mini-footer a:hover, .topics .message-mini .topic-mini-footer a:hover, .topics .topic-mini .message-mini-footer a:hover, .topics .topic-mini .topic-mini-footer a:hover {
  color: #b0e8fc;
}

/* line 839, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.messages .message-mini-body {
  padding-right: 15px;
  position: relative;
  word-wrap: break-word;
}

/* line 847, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.topics .topic-mini-heading {
  position: relative;
}
/* line 850, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.topics .topic-mini-heading .pop-up .pop-up-content {
  top: 4px;
}
/* line 853, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.topics .topic-mini-heading .pop-up .pop-up-trigger {
  top: 7px;
  height: 15px;
  width: 15px;
}

/* messages and topics mini templates */
/* User profile */
/* line 864, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile {
  min-height: 780px;
  position: relative;
}
/* line 867, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile .user-data {
  vertical-align: top;
  display: inline-block;
  margin: 0;
  margin-left: 30%;
  padding: 20px;
  width: 69%;
  box-sizing: border-box;
}
/* line 875, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile .user-data span {
  font-size: 20px;
  color: #0d4356;
}
/* line 879, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile .user-data .topic-mini-body, .user-profile .user-data .message-mini-body {
  word-wrap: break-word;
}
/* line 884, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile .user-profile-menu {
  position: absolute;
  top: 0px;
  bottom: 0px;
  vertical-align: top;
  display: inline-block;
  width: 30%;
  box-sizing: border-box;
  padding: 20px 0;
  border-right: 1px solid #0589bd;
  background: white;
}
/* line 896, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile .user-profile-menu .pop-up .pop-up-content {
  top: 3px;
  right: 3px;
}
/* line 900, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile .user-profile-menu .pop-up .pop-up-trigger {
  height: 15px;
  width: 15px;
  top: 5px;
  right: 5px;
}
/* line 907, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile .user-profile-menu .user-menu-img {
  background-image: url(/assets/user-icon-3b8f3cc783f86953700d5c7533d22ee27336941df5df295a892dd3a145f24c65.png);
  background-size: contain;
  display: block;
  border-radius: 250px;
  border: 2px solid #0589bd;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 20px;
  width: 250px;
  height: 250px;
}
/* line 919, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile .user-profile-menu .user-menu-name, .user-profile .user-profile-menu .user-menu-status {
  display: block;
  text-align: center;
  font-size: 20px;
  color: white;
  background: #0589bd;
  margin: 0;
  padding: 10px;
}
/* line 928, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile .user-profile-menu .user-menu-name {
  margin-bottom: 2px;
}
/* line 931, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile .user-profile-menu ul {
  list-style: none;
  padding: 0;
  padding-left: 20px;
  margin: 0;
  margin-top: 20px;
}
/* line 937, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile .user-profile-menu ul li {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}
/* line 943, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile .user-profile-menu ul li .counter {
  position: absolute;
  right: 0px;
  bottom: 10px;
  background: #0589bd;
  border: 1px solid #0d4356;
  border-right: none;
  color: white;
  padding: 5px 15px;
  z-index: 80;
}
/* line 954, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile .user-profile-menu ul li:hover .counter {
  background: white;
  border-right: none;
  color: #0d4356;
}
/* line 959, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile .user-profile-menu ul li a {
  background: white;
  text-align: center;
  font-size: 20px;
  display: block;
  text-decoration: none;
  padding: 15px 10px;
  color: #0d4356;
  border: 1px solid #0589bd;
  border-right: none;
}
/* line 969, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile .user-profile-menu ul li a:hover {
  color: white;
  background: #0589bd;
}
/* line 974, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile .user-profile-menu ul li a.disabled {
  cursor: default;
  color: rgba(5, 137, 189, 0.6);
  background: repeating-linear-gradient(-45deg, rgba(5, 137, 189, 0.6), rgba(5, 137, 189, 0.6) 2px, white 2px, white 10px);
}
/* line 978, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile .user-profile-menu ul li a.disabled:hover {
  color: rgba(5, 137, 189, 0.6);
}
/* line 986, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile .user-update-form form {
  border: none;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}
/* line 991, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile .user-update-form form select.disabled {
  border: 1px solid gray;
  color: gray;
}
/* line 995, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile .user-update-form form input.disabled {
  border: 1px solid gray;
}
/* line 998, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile .user-update-form form label.disabled {
  color: gray;
}
/* line 1001, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile .user-update-form form input[type="submit"] {
  width: 100%;
  box-sizing: border-box;
  background: #0589bd;
  color: white;
  border: none;
  cursor: pointer;
}
/* line 1008, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile .user-update-form form input[type="submit"]:hover {
  background: #0589bd;
  color: white;
  border: none;
}

/* line 1018, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile.user-about .user-profile-menu ul li:nth-child(1) a, .user-profile.user-edit .user-profile-menu ul li:nth-child(4) a {
  color: white;
  background: #0589bd;
}

/* line 1024, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile.user-messages .user-profile-menu ul li:nth-child(2) .counter, .user-profile.user-topics .user-profile-menu ul li:nth-child(3) .counter {
  background: white;
  border-right: none;
  color: #0d4356;
}
/* line 1029, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile.user-messages .user-profile-menu ul li:nth-child(2) a, .user-profile.user-topics .user-profile-menu ul li:nth-child(3) a {
  color: white;
  background: #0589bd;
}

/* line 1035, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile-topics, .user-profile-messages {
  overflow-y: auto;
}

/* User Profile End */
/* pagination */
/* line 1043, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.pagination {
  display: block;
  margin: 0px auto;
  padding: 10px 0;
  text-align: center;
  border-top: 1px solid #0589bd;
}
/* line 1049, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.pagination span, .pagination em, .pagination a {
  display: inline-block;
  padding: 5px 15px;
  margin: 0px 1px;
  background: white;
  color: #0d4356;
  border: 1px solid #0589bd;
}
/* line 1057, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.pagination a {
  text-decoration: none;
  color: #0589bd;
}
/* line 1060, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.pagination a:hover {
  color: white;
  background: #0589bd;
}
/* line 1065, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.pagination .current {
  color: #0d4356;
  border: 1px solid #0d4356;
  font-style: normal;
}
/* line 1070, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.pagination .disabled {
  color: gray;
  border: 1px solid gray;
}
/* line 1074, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.pagination .gap {
  color: #0589bd;
}

/* line 1080, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.topic-show-pagination .pagination, .user-topics .pagination, .user-messages .pagination {
  border: none;
}

/* pagination end */
/*-------------------footer------------------*/
/* line 1091, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
footer {
  background: #2cbff9;
  padding: 10px;
  font-weight: 700;
  font-size: 20px;
  color: white;
  text-align: center;
}
/* line 1099, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
footer a {
  text-decoration: none;
  color: white;
}
/* line 1102, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
footer a:hover {
  color: black;
}

/*-------------------media-queries------------------*/
/* line 24, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.static-container {
  font-family: "PT serif", serif;
  color: #0d4356;
  background: white;
  margin: 0;
  padding: 0;
}

/* line 32, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.static-wrapper {
  padding: 20px 0px;
  margin: 0px auto;
  max-width: 2700px;
  position: relative;
  background: #e7edef;
  background-image: url(/assets/bgr_1-f68feef6fafc6a68a0ed150a28fadd43931449782de5ee38022f9234c97f50c0.png);
  /*background-image: image_url('main_background_faded.png');
  background-repeat: no-repeat;
  background-position: top center;*/
}
/* line 42, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.static-wrapper .section-wrapper {
  margin: 0 auto;
  width: 1030px;
  height: 100%;
}
/* line 46, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.static-wrapper .section-wrapper .info-panel {
  z-index: 10;
  position: relative;
  background: white;
  padding: 20px;
  border: 2px solid #0d4356;
  font-size: 24px;
  margin-bottom: 20px;
}
/* line 54, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.static-wrapper .section-wrapper .info-panel h2 {
  padding: 0;
  margin: 0;
  font-size: 30px;
}
/* line 59, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.static-wrapper .section-wrapper .info-panel h3 {
  padding: 0;
  margin: 0;
  font-size: 20px;
}
/* line 64, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.static-wrapper .section-wrapper .info-panel img {
  padding: 0;
  margin: 0px;
  border: 2px solid #0d4356;
}
/* line 69, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.static-wrapper .section-wrapper .info-panel p {
  padding: 0px;
  margin: 0px;
  margin-top: 10px;
}
/* line 74, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.static-wrapper .section-wrapper .info-panel ul {
  margin: 0;
  padding: 0;
}
/* line 77, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.static-wrapper .section-wrapper .info-panel ul li {
  padding: 0;
  margin: 0;
}
/* line 83, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.static-wrapper .section-wrapper .info-panel:last-child {
  margin: 0;
}
/* line 86, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.static-wrapper .section-wrapper .table-title {
  position: relative;
  z-index: 10;
  background: white;
  margin: 0px;
  border: 2px solid #0d4356;
  border-bottom: none;
  text-align: center;
  padding: 15px 5px;
}
/* line 95, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.static-wrapper .section-wrapper .table-title h2 {
  margin: 0;
}
/* line 99, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.static-wrapper .section-wrapper table {
  margin: 0px;
  margin-bottom: 20px;
  position: relative;
  z-index: 10;
  border-collapse: collapse;
  background: white;
  width: 100%;
  border: 2px solid #0d4356;
}
/* line 108, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.static-wrapper .section-wrapper table th, .static-wrapper .section-wrapper table td {
  padding: 15px 5px;
  border-right: 2px solid #0d4356;
  text-align: center;
  z-index: 15;
}
/* line 114, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.static-wrapper .section-wrapper table th {
  border-bottom: 2px solid #0d4356;
}
/* line 117, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.static-wrapper .section-wrapper table th:last-child, .static-wrapper .section-wrapper table td:last-child {
  border-left: none;
}
/* line 120, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.static-wrapper .section-wrapper table tr {
  border-bottom: 1px solid #0d4356;
}
/* line 124, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.static-wrapper .section-wrapper table:last-child {
  margin-bottom: 0px;
}

/* line 130, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.clearfix {
  clear: both;
}

/* line 135, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.static-wrapper.about .section-wrapper h2 {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid #0d4356;
}
/* line 140, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.static-wrapper.about .section-wrapper .info-panel-1 {
  text-align: justify;
}
/* line 142, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.static-wrapper.about .section-wrapper .info-panel-1 div {
  display: inline-block;
}
/* line 145, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.static-wrapper.about .section-wrapper .info-panel-1 div:first-child {
  width: 500px;
}
/* line 148, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.static-wrapper.about .section-wrapper .info-panel-1 div:nth-child(2) {
  vertical-align: top;
  margin-left: 90px;
  margin-top: 40px;
}
/* line 153, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.static-wrapper.about .section-wrapper .info-panel-1 ul {
  list-style: none;
}
/* line 155, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.static-wrapper.about .section-wrapper .info-panel-1 ul li {
  position: relative;
  text-align: left;
  padding: 15px 5px;
}
/* line 160, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.static-wrapper.about .section-wrapper .info-panel-1 ul li:before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  background: transparent;
  left: -50px;
}
/* line 168, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.static-wrapper.about .section-wrapper .info-panel-1 ul li:nth-child(1):before {
  background-image: url(/assets/eae_logo-29f9797e1ced85cdefd2c1989e33767b0bc30b78bed8d4887c9639868281befd.gif);
  background-repeat: no-repeat;
  background-size: contain;
}
/* line 173, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.static-wrapper.about .section-wrapper .info-panel-1 ul li:nth-child(2):before {
  background-image: url(/assets/pem_logo-10d1afbb9a2c29bfb6e326ef3bde071124d6af82fc669aa2e2d828dd226ea936.gif);
  background-repeat: no-repeat;
  background-size: contain;
}
/* line 178, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.static-wrapper.about .section-wrapper .info-panel-1 ul li:nth-child(3):before {
  background-image: url(/assets/gem_logo-b6006afcf947278d33123ab6fa5bb0b64e00798603f2185548da0812c6227176.gif);
  background-repeat: no-repeat;
  background-size: contain;
}
/* line 183, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.static-wrapper.about .section-wrapper .info-panel-1 ul li:nth-child(4):before {
  background-image: url(/assets/sezam_logo-3fe40938c0f235c3308adb6b078b17164f4ce8213738fa8d3a39030271ca1950.gif);
  background-repeat: no-repeat;
  background-size: contain;
}
/* line 188, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.static-wrapper.about .section-wrapper .info-panel-1 ul li:nth-child(5):before {
  background-image: url(/assets/promcentr_logo-a33764a28bad9359835fdc511d0fd789706d219761633b513121ca5b3f29e0f4.gif);
  background-repeat: no-repeat;
  background-size: contain;
}
/* line 195, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.static-wrapper.about .section-wrapper .info-panel-2 {
  text-align: justify;
}
/* line 199, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.static-wrapper.about .section-wrapper .info-panel-3 ul, .static-wrapper.about .section-wrapper .info-panel-4 ul {
  padding-left: 30px;
}

/* line 207, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.static-wrapper.leadership .info-panel h3 {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid #0d4356;
}
/* line 212, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.static-wrapper.leadership .info-panel img {
  margin-right: 20px;
  float: left;
  width: 130;
  height: 130;
}
/* line 218, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.static-wrapper.leadership .info-panel ul {
  padding-left: 20px;
  margin-bottom: 10px;
}

/* line 226, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.static-wrapper.companies .info-panel img {
  margin-right: 20px;
  float: left;
  height: 100px;
  width: 100px;
}
/* line 232, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.static-wrapper.companies .info-panel h2 {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid #0d4356;
  font-size: 24px;
}
/* line 238, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.static-wrapper.companies .info-panel a {
  display: block;
  position: absolute;
  top: 5px;
  right: 10px;
  padding: 10px;
  font-size: 24px;
  text-decoration: none;
  color: #0589bd;
}
/* line 247, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.static-wrapper.companies .info-panel a:hover {
  color: #b0e8fc;
}

/* line 254, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.static-wrapper.competences .info-panel h2, .static-wrapper.eae .info-panel h2, .static-wrapper.pem .info-panel h2, .static-wrapper.gem .info-panel h2, .static-wrapper.sezam .info-panel h2, .static-wrapper.promcenter .info-panel h2 {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid #0d4356;
}
/* line 259, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.static-wrapper.competences .info-panel ul, .static-wrapper.eae .info-panel ul, .static-wrapper.pem .info-panel ul, .static-wrapper.gem .info-panel ul, .static-wrapper.sezam .info-panel ul, .static-wrapper.promcenter .info-panel ul {
  padding-left: 20px;
  margin-bottom: 20px;
}
/* line 262, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.static-wrapper.competences .info-panel ul li, .static-wrapper.eae .info-panel ul li, .static-wrapper.pem .info-panel ul li, .static-wrapper.gem .info-panel ul li, .static-wrapper.sezam .info-panel ul li, .static-wrapper.promcenter .info-panel ul li {
  margin-top: 5px;
}
/* line 266, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.static-wrapper.competences .info-panel img, .static-wrapper.eae .info-panel img, .static-wrapper.pem .info-panel img, .static-wrapper.gem .info-panel img, .static-wrapper.sezam .info-panel img, .static-wrapper.promcenter .info-panel img {
  margin-left: 20px;
  height: 200px;
  width: 300px;
  float: right;
}
/* line 272, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.static-wrapper.competences .info-panel p, .static-wrapper.eae .info-panel p, .static-wrapper.pem .info-panel p, .static-wrapper.gem .info-panel p, .static-wrapper.sezam .info-panel p, .static-wrapper.promcenter .info-panel p {
  padding-left: 20px;
}

/* line 279, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.static-wrapper.projects .section-wrapper .table-title h2 {
  font-size: 24px;
}
/* line 283, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.static-wrapper.projects .section-wrapper table ul {
  padding: 0;
  margin: 0;
  margin-left: 30px;
}
/* line 287, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.static-wrapper.projects .section-wrapper table ul li {
  padding: 0;
  margin: 0;
  text-align: left;
}

/* line 297, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.static-wrapper.eae .section-wrapper .title, .static-wrapper.pem .section-wrapper .title, .static-wrapper.gem .section-wrapper .title, .static-wrapper.sezam .section-wrapper .title,
.static-wrapper.promcenter .section-wrapper .title {
  background: white;
  padding: 0px;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  border: 2px solid #0d4356;
}

/* line 308, /home/greg/Web/forum_kurs/app/assets/stylesheets/static_pages.scss */
.static-wrapper.pem .section-wrapper .info-panel img, .static-wrapper.promcenter .section-wrapper .info-panel img, .static-wrapper.gem .section-wrapper .info-panel img, .static-wrapper.sezam .section-wrapper .info-panel img {
  height: 120px;
  width: 150px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

