@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
/* line 39, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

/*-------------------miscellaneous-classes------------------*/
/* line 47, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.wrapper {
  background: repeating-linear-gradient(-45deg, #fff, #fff 100px, #b0e8fc 100px, #b0e8fc 200px);
  min-height: 480px;
  padding: 30px;
}

/* line 53, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.hidden {
  display: none;
}

/* line 57, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.container {
  width: auto;
  min-width: 1030px;
  margin: 0 auto;
}

/* line 63, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.overflow {
  white-space: nowrap;
  overflow: hidden;
}

/* line 68, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.ellipsis {
  text-overflow: ellipsis;
}

/* line 72, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.divider {
  margin: 10px 0px;
  border: 2px solid #0589bd;
}

/*-------------------miscellaneous-classes-end------------------*/
/*-------------------main-menu------------------*/
/* line 81, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
nav {
  background: #2cbff9;
  width: auto;
  position: relative;
  z-index: 100;
}

/* line 88, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
}

/* line 96, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
nav ul li {
  display: inline-block;
  position: relative;
  padding: 0;
  margin: 0;
}

/* submenu */
/* line 103, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.submenu {
  background: transparent;
  position: absolute;
  left: -50px;
  right: -50px;
  perspective: 1000px;
}

/* line 111, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.submenu li {
  display: none;
  margin-bottom: 3px;
  background: #2cbff9;
}

/* menu animation  */
/* line 118, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
nav > ul > li:hover .submenu > li {
  display: block;
  opacity: 0;
  animation-name: menu;
  animation-duration: 400ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

/* line 127, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
nav > ul > li:hover .submenu > li:nth-child(2) {
  animation-delay: 100ms;
}

/* line 131, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
nav > ul > li:hover .submenu > li:nth-child(3) {
  animation-delay: 200ms;
}

/* line 135, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
nav > ul > li:hover .submenu > li:nth-child(4) {
  animation-delay: 300ms;
}

/* line 139, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
nav > ul > li:hover .submenu > li:nth-child(5) {
  animation-delay: 400ms;
}

/* line 143, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
nav > ul > li:hover .submenu > li:nth-child(6) {
  animation-delay: 500ms;
}

@keyframes menu {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
/* menu animation end */
/* line 160, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.submenu li:first-child {
  margin-top: 3px;
}

/* line 164, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.submenu ul li:last-child {
  border: none;
}

/* submenu end */
/* line 169, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
nav.align-center ul {
  text-align: center;
}

/* line 173, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
nav ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  transition: color .25s;
}

/* line 186, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
nav ul li a:hover {
  color: #0d4356;
}

/* line 190, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
nav ul li a:hover:before {
  width: 100%;
}

/* line 194, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
nav ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #0d4356;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  transition: width .25s;
}

/* line 206, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
nav ul li.active > a {
  color: #0d4356;
}

/* line 209, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
nav ul li.active > a:before {
  width: 100%;
}

/*-------------------main-menu-end------------------*/
/*-------------------flash------------------*/
/* line 215, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.flash {
  text-align: center;
  display: block;
  margin: 30px;
  margin-top: 0px;
  color: white;
  font-size: 24px;
  padding: 30px;
}

/* line 225, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.flash.danger {
  background: rgba(200, 4, 4, 0.6);
}

/* line 229, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.flash.success {
  background: rgba(30, 190, 59, 0.6);
}

/* line 233, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.flash.info {
  background: rgba(5, 137, 189, 0.6);
}

/*-------------------flash-end------------------*/
/* ---------redacted-pop-up----------------*/
/* line 242, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.pop-up .pop-up-content {
  z-index: 91;
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.9);
  color: #0d4356;
  border: 1px solid #0d4356;
}
/* line 253, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.pop-up .pop-up-trigger {
  z-index: 91;
  position: absolute;
  display: block;
  height: 10px;
  width: 10px;
  background: #0d4356;
  top: 2px;
  right: 2px;
}
/* line 264, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.pop-up:hover .pop-up-content {
  display: block;
}

/*----------redacted-pop-up-end-----*/
/*-------------------form------------------*/
/* line 274, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.login-form form, .reg-form form, .topic-new-form form, .topic-edit-form form, .forum-edit-form form, .mini-menu form, .user-update-form form, .message-edit-form form, .pwd-reset-form form, .pwd-reset-email-form form {
  border: 10px solid rgba(5, 137, 189, 0.6);
  margin: 0;
  padding: 20px;
  background: white;
  font-family: 'Open Sans', sans-serif;
  background: white;
  color: #0d4356;
}
/* line 283, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.login-form form h2, .reg-form form h2, .topic-new-form form h2, .topic-edit-form form h2, .forum-edit-form form h2, .mini-menu form h2, .user-update-form form h2, .message-edit-form form h2, .pwd-reset-form form h2, .pwd-reset-email-form form h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 30px;
  text-align: center;
}
/* line 290, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.login-form form .field_with_errors, .reg-form form .field_with_errors, .topic-new-form form .field_with_errors, .topic-edit-form form .field_with_errors, .forum-edit-form form .field_with_errors, .mini-menu form .field_with_errors, .user-update-form form .field_with_errors, .message-edit-form form .field_with_errors, .pwd-reset-form form .field_with_errors, .pwd-reset-email-form form .field_with_errors {
  display: inline;
}
/* line 294, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.login-form form input[type="text"], .login-form form input[type="email"], .login-form form input[type="password"], .login-form form textarea, .login-form form select, .reg-form form input[type="text"], .reg-form form input[type="email"], .reg-form form input[type="password"], .reg-form form textarea, .reg-form form select, .topic-new-form form input[type="text"], .topic-new-form form input[type="email"], .topic-new-form form input[type="password"], .topic-new-form form textarea, .topic-new-form form select, .topic-edit-form form input[type="text"], .topic-edit-form form input[type="email"], .topic-edit-form form input[type="password"], .topic-edit-form form textarea, .topic-edit-form form select, .forum-edit-form form input[type="text"], .forum-edit-form form input[type="email"], .forum-edit-form form input[type="password"], .forum-edit-form form textarea, .forum-edit-form form select, .mini-menu form input[type="text"], .mini-menu form input[type="email"], .mini-menu form input[type="password"], .mini-menu form textarea, .mini-menu form select, .user-update-form form input[type="text"], .user-update-form form input[type="email"], .user-update-form form input[type="password"], .user-update-form form textarea, .user-update-form form select, .message-edit-form form input[type="text"], .message-edit-form form input[type="email"], .message-edit-form form input[type="password"], .message-edit-form form textarea, .message-edit-form form select, .pwd-reset-form form input[type="text"], .pwd-reset-form form input[type="email"], .pwd-reset-form form input[type="password"], .pwd-reset-form form textarea, .pwd-reset-form form select, .pwd-reset-email-form form input[type="text"], .pwd-reset-email-form form input[type="email"], .pwd-reset-email-form form input[type="password"], .pwd-reset-email-form form textarea, .pwd-reset-email-form form select {
  background: white;
  padding: 10px 5px;
  margin-bottom: 10px;
  font-size: 20px;
  width: 100%;
  box-sizing: border-box;
  color: #0d4356;
}
/* line 304, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.login-form form input[type="checkbox"], .reg-form form input[type="checkbox"], .topic-new-form form input[type="checkbox"], .topic-edit-form form input[type="checkbox"], .forum-edit-form form input[type="checkbox"], .mini-menu form input[type="checkbox"], .user-update-form form input[type="checkbox"], .message-edit-form form input[type="checkbox"], .pwd-reset-form form input[type="checkbox"], .pwd-reset-email-form form input[type="checkbox"] {
  height: 2em;
  width: 2em;
  vertical-align: middle;
}
/* line 310, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.login-form form input[type="submit"], .reg-form form input[type="submit"], .topic-new-form form input[type="submit"], .topic-edit-form form input[type="submit"], .forum-edit-form form input[type="submit"], .mini-menu form input[type="submit"], .user-update-form form input[type="submit"], .message-edit-form form input[type="submit"], .pwd-reset-form form input[type="submit"], .pwd-reset-email-form form input[type="submit"] {
  display: block;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  border: none;
  width: 100%;
  box-sizing: border-box;
  background: #0589bd;
  padding: 15px;
  margin: 10px auto;
  margin-bottom: 0px;
}
/* line 324, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.login-form form input[type="submit"]:hover, .reg-form form input[type="submit"]:hover, .topic-new-form form input[type="submit"]:hover, .topic-edit-form form input[type="submit"]:hover, .forum-edit-form form input[type="submit"]:hover, .mini-menu form input[type="submit"]:hover, .user-update-form form input[type="submit"]:hover, .message-edit-form form input[type="submit"]:hover, .pwd-reset-form form input[type="submit"]:hover, .pwd-reset-email-form form input[type="submit"]:hover {
  background: #0589bd;
  color: white;
}
/* line 329, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.login-form form p, .reg-form form p, .topic-new-form form p, .topic-edit-form form p, .forum-edit-form form p, .mini-menu form p, .user-update-form form p, .message-edit-form form p, .pwd-reset-form form p, .pwd-reset-email-form form p {
  margin: 0;
}
/* line 331, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.login-form form p a, .reg-form form p a, .topic-new-form form p a, .topic-edit-form form p a, .forum-edit-form form p a, .mini-menu form p a, .user-update-form form p a, .message-edit-form form p a, .pwd-reset-form form p a, .pwd-reset-email-form form p a {
  text-decoration: none;
  color: #0589bd;
}
/* line 334, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.login-form form p a:hover, .reg-form form p a:hover, .topic-new-form form p a:hover, .topic-edit-form form p a:hover, .forum-edit-form form p a:hover, .mini-menu form p a:hover, .user-update-form form p a:hover, .message-edit-form form p a:hover, .pwd-reset-form form p a:hover, .pwd-reset-email-form form p a:hover {
  color: #2cbff9;
}

/* line 341, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.login-form, .reg-form, .topic-new-form, .topic-edit-form, .forum-edit-form, .message-edit-form, .pwd-reset-form, .pwd-reset-email-form {
  display: block;
  margin: 0 auto;
  padding: 0px;
  width: 500px;
}

/* line 348, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.topic-new-form, .topic-edit-form {
  width: 800px;
}
/* line 350, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.topic-new-form textarea, .topic-edit-form textarea {
  resize: none;
  height: 300px;
}

/* line 356, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.message-edit-form {
  width: 600px;
}
/* line 358, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.message-edit-form textarea {
  resize: none;
  height: 300px;
}

/* line 365, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-update-form form {
  border: none;
}
/* line 368, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-update-form textarea {
  resize: none;
  height: 200px;
}

/* line 374, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.log-form form input[type="submit"] {
  margin-bottom: 15px;
}

/*-------------------form-end-----------------*/
/*-------------------forum-mini-template------------------*/
/* line 383, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.forum-index {
  text-align: center;
  padding: 0;
  margin: 0 auto;
  max-width: 1100px;
}

/* line 390, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.forum-mini {
  vertical-align: middle;
  background: white;
  position: relative;
  width: 250px;
  display: inline-block;
  padding: 10px;
  margin: 20px;
  border: 10px solid rgba(5, 137, 189, 0.6);
  color: #0d4356;
}
/* line 401, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.forum-mini .forum-mini-img {
  position: relative;
  border: 3px solid #0589bd;
  border-radius: 100px;
  margin: 10px auto;
  width: 150px;
  height: 150px;
}
/* line 408, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.forum-mini .forum-mini-img img {
  position: absolute;
  top: 20px;
  left: 35px;
}
/* line 415, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.forum-mini .forum-mini-heading a {
  max-width: 200px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  color: #0589bd;
}
/* line 421, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.forum-mini .forum-mini-heading a:hover {
  color: #2cbff9;
}
/* line 426, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.forum-mini .forum-mini-body {
  position: relative;
  padding-bottom: 10px;
  min-height: 5em;
}
/* line 430, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.forum-mini .forum-mini-body .forum-mini-data {
  text-align: left;
  position: absolute;
  left: 0;
  display: inline-block;
}
/* line 436, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.forum-mini .forum-mini-body .forum-mini-data-values {
  text-align: right;
  max-width: 150px;
  position: absolute;
  right: 0;
  display: inline-block;
}
/* line 443, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.forum-mini .forum-mini-body a {
  text-decoration: none;
  color: #0589bd;
}
/* line 446, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.forum-mini .forum-mini-body a:hover {
  color: #2cbff9;
}

/* line 454, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.forum-new .forum-mini-heading span {
  display: block;
  color: #0589bd;
  text-transform: uppercase;
  font-size: 2em;
  margin-top: 40px;
  margin-bottom: 22px;
}

/* line 466, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.mini-menu .mini-menu-img {
  z-index: 99;
  content: "";
  background-image: "/assets/menu-icon-blue-5e24854ebf871878705ae250a9148f10bb10beed803be627df8ad67bb005a4ba.png";
  background-size: 30px 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  animation-name: forum-mini-menu-img-blue-animation;
  animation-duration: 400ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
/* line 482, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.mini-menu ul, .mini-menu form {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(46, 192, 250, 0.6);
  margin: 0;
  display: none;
}
/* line 493, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.mini-menu ul {
  margin: 0;
  padding: 20px;
  padding-top: 80px;
  list-style: none;
}
/* line 498, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.mini-menu ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  box-sizing: border-box;
  color: white;
  border: 2px solid white;
  background: rgba(5, 137, 189, 0.6);
}
/* line 511, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.mini-menu ul li a:hover {
  border: 2px solid #0d4356;
  background: rgba(255, 255, 255, 0.9);
  color: #0d4356;
}
/* line 517, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.mini-menu ul li a.disabled {
  background: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9) 2px, transparent 2px, transparent 10px);
  cursor: default;
  color: rgba(255, 255, 255, 0.9);
}
/* line 521, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.mini-menu ul li a.disabled:hover {
  background: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9) 2px, transparent 2px, transparent 10px);
  border: 2px solid white;
  color: rgba(255, 255, 255, 0.9);
}
/* line 529, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.mini-menu:hover ul, .mini-menu:hover form {
  display: block;
}
/* line 532, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.mini-menu:hover .mini-menu-img {
  background-image: "/assets/menu-icon-white-5cc24909fbb8f926909ef5182aa3d37f1bab7a1e5d4aa440c41602bc746e4e3b.png";
  animation-name: forum-mini-menu-img-white-animation;
  animation-duration: 400ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
/* line 540, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.mini-menu form {
  border: none;
  text-align: left;
  padding-top: 30px;
}
/* line 545, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.mini-menu form input[type="text"], .mini-menu form select {
  font-size: 20px;
  padding: 10px;
  margin-bottom: 5px;
}
/* line 551, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.mini-menu form input[type="submit"] {
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
}

@keyframes forum-mini-menu-img-white-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes forum-mini-menu-img-blue-animation {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/*-------------------forum-mini-template-end------------------*/
/* line 581, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.box {
  display: block;
  background: white;
  min-width: 1000px;
  max-width: 1200px;
  border: 1px solid #0589bd;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

/* line 592, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.heading {
  background: #0589bd;
  text-align: center;
  position: relative;
  padding: 15px 10px;
}
/* line 597, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.heading span {
  color: white;
  font-size: 30px;
}
/* line 603, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.heading .mini-menu .mini-menu-img {
  background-image: "/assets/menu-icon-white-5cc24909fbb8f926909ef5182aa3d37f1bab7a1e5d4aa440c41602bc746e4e3b.png";
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}
/* line 609, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.heading .mini-menu ul {
  background: #0589bd;
  padding: 5px;
  text-align: center;
}
/* line 613, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.heading .mini-menu ul li {
  display: inline-block;
  font-size: 20px;
}
/* line 616, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.heading .mini-menu ul li a {
  width: 250px;
  font-size: 20px;
}

/* line 625, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.index-table {
  text-align: center;
}
/* line 627, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.index-table span {
  display: inline-block;
  font-size: 24px;
  padding: 100px;
}
/* line 632, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.index-table table {
  width: 100%;
  border-collapse: collapse;
}
/* line 635, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.index-table table tr {
  border-bottom: 1px solid #0589bd;
}
/* line 637, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.index-table table tr td, .index-table table tr th {
  padding: 15px 10px;
  color: #0d4356;
}
/* line 640, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.index-table table tr td a, .index-table table tr th a {
  text-decoration: none;
  color: #0589bd;
}
/* line 643, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.index-table table tr td a:hover, .index-table table tr th a:hover {
  color: #2cbff9;
}
/* line 649, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.index-table table tbody tr:last-child {
  border: none;
}

/* line 656, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.forum-show table {
  font-size: 24px;
}

/* line 661, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.topic-show {
  margin-bottom: 10px;
}
/* line 663, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.topic-show .topic-show-body {
  padding: 20px;
  color: #0d4356;
  font-size: 20px;
  word-wrap: break-word;
}
/* line 669, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.topic-show .topic-show-footer {
  position: relative;
  background: #0589bd;
  padding: 5px 15px;
  font-size: 16px;
  color: white;
}
/* line 677, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.topic-show .topic-show-footer .pop-up .pop-up-content {
  color: #0d4356;
  font-size: 20px;
  right: 10px;
  top: -50px;
}
/* line 683, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.topic-show .topic-show-footer .pop-up .pop-up-trigger {
  top: 10px;
  right: 15px;
  background: white;
}
/* line 688, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.topic-show .topic-show-footer .pop-up:hover .pop-up-trigger {
  background: #0d4356;
}
/* line 693, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.topic-show .topic-show-footer a {
  color: white;
  text-decoration: underline;
}
/* line 696, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.topic-show .topic-show-footer a:hover {
  color: #b0e8fc;
}

/* line 703, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.new-message-form {
  margin-bottom: 20px;
}
/* line 705, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.new-message-form form {
  min-width: 1000px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}
/* line 710, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.new-message-form form textarea {
  font-size: 20px;
  padding: 5px;
  display: block;
  width: 100%;
  resize: none;
  height: 100px;
  box-sizing: border-box;
  color: #0d4356;
}
/* line 720, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.new-message-form form input[type="submit"] {
  display: block;
  font-size: 20px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  width: 100%;
  background: #0589bd;
  padding: 10px 0px;
  margin: 0;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

/* messages and topics mini templates */
/* line 739, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.messages, .topics {
  border: none;
  background: transparent;
}
/* line 742, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.messages .message-mini, .messages .topic-mini, .topics .message-mini, .topics .topic-mini {
  border: 1px solid #0589bd;
  background: white;
  padding: 10px;
  margin-bottom: 10px;
}
/* line 747, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.messages .message-mini .topic-mini-heading, .messages .topic-mini .topic-mini-heading, .topics .message-mini .topic-mini-heading, .topics .topic-mini .topic-mini-heading {
  border-bottom: 1px solid #0589bd;
  padding-bottom: 10px;
}
/* line 751, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.messages .message-mini .message-mini-body, .messages .message-mini .topic-mini-heading, .messages .message-mini .topic-mini-body, .messages .topic-mini .message-mini-body, .messages .topic-mini .topic-mini-heading, .messages .topic-mini .topic-mini-body, .topics .message-mini .message-mini-body, .topics .message-mini .topic-mini-heading, .topics .message-mini .topic-mini-body, .topics .topic-mini .message-mini-body, .topics .topic-mini .topic-mini-heading, .topics .topic-mini .topic-mini-body {
  color: #0d4356;
  font-size: 20px;
  margin-bottom: 10px;
}
/* line 756, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.messages .message-mini .message-mini-footer, .messages .message-mini .topic-mini-footer, .messages .topic-mini .message-mini-footer, .messages .topic-mini .topic-mini-footer, .topics .message-mini .message-mini-footer, .topics .message-mini .topic-mini-footer, .topics .topic-mini .message-mini-footer, .topics .topic-mini .topic-mini-footer {
  z-index: 90;
  color: #0d4356;
  position: relative;
  padding-top: 10px;
  font-size: 16px;
  border-top: 1px solid #0589bd;
}
/* line 763, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.messages .message-mini .message-mini-footer span, .messages .message-mini .topic-mini-footer span, .messages .topic-mini .message-mini-footer span, .messages .topic-mini .topic-mini-footer span, .topics .message-mini .message-mini-footer span, .topics .message-mini .topic-mini-footer span, .topics .topic-mini .message-mini-footer span, .topics .topic-mini .topic-mini-footer span {
  position: absolute;
  right: 10px;
}
/* line 767, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.messages .message-mini .message-mini-footer a, .messages .message-mini .topic-mini-footer a, .messages .topic-mini .message-mini-footer a, .messages .topic-mini .topic-mini-footer a, .topics .message-mini .message-mini-footer a, .topics .message-mini .topic-mini-footer a, .topics .topic-mini .message-mini-footer a, .topics .topic-mini .topic-mini-footer a {
  color: #0d4356;
}
/* line 769, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.messages .message-mini .message-mini-footer a:hover, .messages .message-mini .topic-mini-footer a:hover, .messages .topic-mini .message-mini-footer a:hover, .messages .topic-mini .topic-mini-footer a:hover, .topics .message-mini .message-mini-footer a:hover, .topics .message-mini .topic-mini-footer a:hover, .topics .topic-mini .message-mini-footer a:hover, .topics .topic-mini .topic-mini-footer a:hover {
  color: #b0e8fc;
}

/* line 778, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.messages .message-mini-body {
  padding-right: 15px;
  position: relative;
  word-wrap: break-word;
}

/* line 786, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.topics .topic-mini-heading {
  position: relative;
}
/* line 789, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.topics .topic-mini-heading .pop-up .pop-up-content {
  top: 5px;
}
/* line 792, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.topics .topic-mini-heading .pop-up .pop-up-trigger {
  top: 7px;
  height: 15px;
  width: 15px;
}

/* messages and topics mini templates */
/* User profile */
/* line 804, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile .user-data {
  height: 775px;
  vertical-align: top;
  display: inline-block;
  margin: 0;
  padding: 20px;
  width: 69%;
  box-sizing: border-box;
}
/* line 812, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile .user-data span {
  font-size: 20px;
  color: #0d4356;
}
/* line 816, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile .user-data .topic-mini-body, .user-profile .user-data .message-mini-body {
  word-wrap: break-word;
}
/* line 821, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile .user-profile-menu {
  position: relative;
  vertical-align: top;
  display: inline-block;
  width: 30%;
  box-sizing: border-box;
  padding: 20px 0;
  border-right: 1px solid #0589bd;
  background: white;
}
/* line 831, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile .user-profile-menu .pop-up .pop-up-content {
  top: 3px;
  right: 3px;
}
/* line 835, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile .user-profile-menu .pop-up .pop-up-trigger {
  height: 15px;
  width: 15px;
  top: 5px;
  right: 5px;
}
/* line 842, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile .user-profile-menu .user-menu-img {
  background-image: "/assets/user-icon-3b8f3cc783f86953700d5c7533d22ee27336941df5df295a892dd3a145f24c65.png";
  background-size: contain;
  display: block;
  border-radius: 250px;
  border: 2px solid #0589bd;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 20px;
  width: 250px;
  height: 250px;
}
/* line 854, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile .user-profile-menu .user-menu-name, .user-profile .user-profile-menu .user-menu-status {
  display: block;
  text-align: center;
  font-size: 20px;
  color: white;
  background: #0589bd;
  margin: 0;
  padding: 10px;
}
/* line 863, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile .user-profile-menu .user-menu-name {
  margin-bottom: 2px;
}
/* line 866, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile .user-profile-menu ul {
  list-style: none;
  padding: 0;
  padding-left: 20px;
  margin: 0;
  margin-top: 20px;
}
/* line 872, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile .user-profile-menu ul li {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}
/* line 878, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile .user-profile-menu ul li .counter {
  position: absolute;
  right: 0px;
  bottom: 10px;
  background: #0589bd;
  border: 1px solid #0d4356;
  border-right: none;
  color: white;
  padding: 5px 15px;
  z-index: 80;
}
/* line 889, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile .user-profile-menu ul li:hover .counter {
  background: white;
  border-right: none;
  color: #0d4356;
}
/* line 894, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile .user-profile-menu ul li a {
  background: white;
  text-align: center;
  font-size: 20px;
  display: block;
  text-decoration: none;
  padding: 15px 10px;
  color: #0d4356;
  border: 1px solid #0589bd;
  border-right: none;
}
/* line 904, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile .user-profile-menu ul li a:hover {
  color: white;
  background: #0589bd;
}
/* line 909, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile .user-profile-menu ul li a.disabled {
  cursor: default;
  color: rgba(5, 137, 189, 0.6);
  background: repeating-linear-gradient(-45deg, rgba(5, 137, 189, 0.6), rgba(5, 137, 189, 0.6) 2px, white 2px, white 10px);
}
/* line 913, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile .user-profile-menu ul li a.disabled:hover {
  color: rgba(5, 137, 189, 0.6);
}
/* line 921, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile .user-update-form form {
  border: none;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}
/* line 926, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile .user-update-form form select.disabled {
  border: 1px solid gray;
  color: gray;
}
/* line 930, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile .user-update-form form input.disabled {
  border: 1px solid gray;
}
/* line 933, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile .user-update-form form label.disabled {
  color: gray;
}
/* line 936, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile .user-update-form form input[type="submit"] {
  width: 100%;
  box-sizing: border-box;
  background: #0589bd;
  color: white;
  border: none;
  cursor: pointer;
}
/* line 943, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile .user-update-form form input[type="submit"]:hover {
  background: #0589bd;
  color: white;
  border: none;
}

/* line 953, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile.user-about .user-profile-menu ul li:nth-child(1) a, .user-profile.user-edit .user-profile-menu ul li:nth-child(4) a {
  color: white;
  background: #0589bd;
}

/* line 959, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile.user-messages .user-profile-menu ul li:nth-child(2) .counter, .user-profile.user-topics .user-profile-menu ul li:nth-child(3) .counter {
  background: white;
  border-right: none;
  color: #0d4356;
}
/* line 964, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile.user-messages .user-profile-menu ul li:nth-child(2) a, .user-profile.user-topics .user-profile-menu ul li:nth-child(3) a {
  color: white;
  background: #0589bd;
}

/* line 970, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.user-profile-topics, .user-profile-messages {
  overflow-y: auto;
}

/* User Profile End */
/* pagination */
/* line 978, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.pagination {
  display: block;
  margin: 0px auto;
  padding: 10px 0;
  text-align: center;
  border-top: 1px solid #0589bd;
}
/* line 984, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.pagination span, .pagination em, .pagination a {
  display: inline-block;
  padding: 5px 15px;
  margin: 0px 1px;
  background: white;
  color: #0d4356;
  border: 1px solid #0589bd;
}
/* line 992, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.pagination a {
  text-decoration: none;
  color: #0589bd;
}
/* line 995, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.pagination a:hover {
  color: white;
  background: #0589bd;
}
/* line 1000, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.pagination .current {
  color: #0d4356;
  border: 1px solid #0d4356;
  font-style: normal;
}
/* line 1005, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.pagination .disabled {
  color: gray;
  border: 1px solid gray;
}
/* line 1009, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.pagination .gap {
  color: #0589bd;
}

/* line 1015, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
.topic-show-pagination .pagination, .user-topics .pagination, .user-messages .pagination {
  border: none;
}

/* pagination end */
/*-------------------footer------------------*/
/* line 1026, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
footer {
  background: #2cbff9;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: white;
  text-align: center;
}
/* line 1034, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
footer a {
  text-decoration: none;
  color: white;
}
/* line 1037, /home/greg/Web/forum_kurs/app/assets/stylesheets/custom.css.scss */
footer a:hover {
  color: black;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
