<div class="wrapper">
  <%= render 'shared/flash' %>

  <section class="topic-show box">
    <div class="topic-show-heading heading">

      <span><%= name_with_restriction(@topic) %></span>
      <%= link_to "< К разделу", forum_path(@topic.forum_id), class: "forum-heading-btn" %>

      <div class="mini-menu">
        <div class="mini-menu-img"></div>
        <ul>
          <% if current_user && (@current_user.admin? || @current_user.mod? || @current_user.id == @topic.user_id) %>
            <li><%= link_to "Редактировать", edit_forum_topic_path(@topic.forum, @topic) %></li>
            <li><%= link_to "Удалить", forum_topic_path(@topic.forum, @topic), method: :delete, data: { confirm: "Вы уверены, что хотите удалить эту тему?"} %></li>
          <% else %>
            <li><a class="disabled">Редактировать</a></li>
            <li><a class="disabled">Удалить</a></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="topic-show-body">
        <%= simple_format(@topic.content, {}, wrapper_tag: "span") %>
    </div>

    <div class="topic-show-footer">
      <span>
        <%= link_to @topic.forum.name, forum_path(@topic.forum) %>,
        <%= link_to @topic.user.name, user_path(@topic.user) %>,
        <%= @topic.created_at.strftime("%d/%m/%Y - %H:%M:%S") %>
      </span>

      <% if !@topic.redacted_by.nil? %>
        <div class="pop-up">
          <div class="pop-up-content">
            <span>Редактирована: <%= User.find(@topic.redacted_by).name %></span><br>
            <span>Дата: <%= @topic.updated_at.strftime("%d/%m/%Y - %H:%M:%S") %></span>
          </div>
          <div class="pop-up-trigger"></div>
        </div>
      <% end %>

    </div>
  </section>

  <% if logged_in? %>
    <div class="new-message-form">
      <%= render "layouts/message/new_form" %>
    </div>
  <% end %>

  <div class="messages box">
      <%= render "layouts/message/message_mini" %>
  </div>

  <div class="topic-show-pagination">
    <%= will_paginate @messages, :inner_window => '1' %>
  </div>

</div>
