<% provide :title, "Профиль" %>

<div class="wrapper">
  <%= render 'shared/flash' %>
  <div class="user-profile box user-edit">

    <%= render 'layouts/user/user_profile_menu' %>

    <div class="user-profile-edit user-data">
      <%= render 'layouts/user/update_form' %>
    </div>
  </div>
</div>
