<% provide :title, "Список пользователей" %>

<div class="wrapper">
  <%= render 'shared/flash' %>

  <section class="user-index box">
    <div class="user-index-heading heading">
      <span>Пользователи</span>
    </div>

    <div class="user-index-body index-table">
        <table>

          <thead>
            <tr>
              <th>Имя</th>
              <th>Привилегии</th>
              <th>Тем</th>
              <th>Сообщений</th>
              <th>Зарегистрирован</th>
            </tr>
          </thead>

          <tbody>
            <% @users.each do |u| %>
              <tr>
                <td><%= link_to u.name, user_url(u) %> </td>
                <td>
                  <% if u.admin? %>
                    Администратор
                  <% elsif u.mod? %>
                    Модератор
                  <% elsif u.employee? %>
                    Сотрудник
                  <% else %>
                    Пользователь
                  <% end %>
                </td>
                <td><%= u.topics.count %></td>
                <td><%= u.messages.count %></td>
                <td><%= u.created_at.strftime("%d/%m/%Y - %H:%M:%S") %></td>
              </tr>
            <% end %>
          </tbody>

        </table>
    </div>

        <%= will_paginate @users, :inner_window => '1' %>

  </section>
</div>
