<% provide :title, "Профиль" %>

<div class="wrapper">
  <%= render 'shared/flash' %>
  <div class="user-profile box user-messages">

    <%= render 'layouts/user/user_profile_menu' %>

      <div class="user-profile-messages user-data">
        <% if @messages == [] %>
          <span class="nothing">Этот пользователь пока не создал ни одного сообщения.</span>
        <% else %>
          <div class="messages">
            <%= render 'layouts/message/user_message_mini' %>
            <%= will_paginate @messages, :inner_window => '1', :outer_window => '0' %>
          </div>
        <% end %>
    </div>
  </div>
</div>
