<% provide :title, "Профиль" %>

<div class="wrapper">
  <%= render 'shared/flash' %>
  <div class="user-profile box user-about">
    <%= render 'layouts/user/user_profile_menu' %>
      <div class="user-profile-about user-data">
      <% if @user.about.nil? || @user.about.blank? %>
        <span class="nothing">Здесь пока ничего не написано.</span>
      <% else %>
        <span><%= @user.about %></span>
      <% end %>
    </div>
  </div>
</div>
