<% provide :title, "Профиль" %>

<div class="wrapper">
  <%= render 'shared/flash' %>
  <div class="user-profile box user-topics">
    <%= render 'layouts/user/user_profile_menu' %>
    <div class="user-profile-topics user-data">
      <div class="topics">
        <% if @topics == [] %>
          <span class="nothing">Этот пользователь пока не создал ни одной темы.</span>
        <% else %>
          <%= render 'layouts/topic/user_topic_mini' %>

          <%= will_paginate @topics, :inner_window => '1', :outer_window => '0' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
