  <% if flash[:danger] %>
  <div class="flash danger"><%= flash[:danger] %></div>
  <% end %>

  <% if flash[:success] %>
  <div class="flash success"><%= flash[:success] %></div>
  <% end %>

  <% if flash[:info] %>
  <div class="flash info"><%= flash[:info] %></div>
  <% end %>
