<div class="forum-edit-form">
  <%= form_for @forum do |f| %>
    <h2>Редактирование раздела</h2>
    <div class="divider"></div>

    <%= render 'shared/error_messages/forum' %>

    <%= f.label :name, "Имя раздела:" %>
    <%= f.text_field :name %>

    <%= f.submit "Обновить раздел" %>
  <% end %>
</div>
