<% @forums.each do |f| %>

<div class="forum-mini">

  <div class="forum-mini-heading overflow ellipsis">
    <div class="forum-mini-img" ><%= image_tag "forum-icon-default.png" %></div>
    <%= link_to f.name, forum_path(f) %>
  </div>

  <div class="forum-mini-body">
    <table>
      <tbody>
        <tr>
          <td>Создан:</td>
          <td><%= link_to f.user.name, user_url(f.user) %></td>
        </tr>
        <tr>
          <td>Дата:</td>
          <td><%= f.created_at.strftime("%d/%m/%Y - %H:%M:%S") %></td>
        </tr>
        <tr>
          <td>Тем:</td>
          <td><%= f.topics.count %></td>
        </tr>
        <tr>
          <td>Сообщений:</td>
          <td><%= f.count_messages %></td>
        </tr>
        <tr>
          <td>Ограничения:</td>
          <td>
            <% if f.restricted == "mod" %>
              Модераторы
            <% elsif f.restricted == "employee"%>
              Сотрудники
            <% else %>
              Нет
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="mini-menu">
    <div class="mini-menu-img"></div>
    <ul>
      <li><%= link_to "Открыть", forum_path(f) %></li>
      <% if current_user && @current_user.admin? %>
        <li><%= link_to "Редактировать", edit_forum_path(f) %></li>
        <li><%= link_to "Удалить", forum_url(f), method: :delete, data: { confirm: "Вы уверены, что хотите удалить этот раздел?"} %></li>
      <% else %>
        <li><a class="disabled">Редактировать</a></li>
        <li><a class="disabled">Удалить</a></li>
      <% end %>
    </ul>
  </div>

</div>

<% end %>
