<div class="forum-mini forum-new">

  <div class="forum-mini-heading">
    <div class="forum-mini-img"><%= image_tag "forum-icon-default.png" %></div>
    <span>Новый раздел</span>
  </div>

  <div class="mini-menu">
    <div class="mini-menu-img"></div>
    <%= form_for @forum do |f| %>
    <!--
      <%= render 'shared/error_messages/forum' %>
    -->
      <%= f.label :name, "Имя раздела:" %>
      <%= f.text_field :name %>

      <%= f.label :restricted, "Только для:" %>
      <%= f.select :restricted, [["Модераторов", :mod ], ["Сотрудников", :employee], ["Для всех", :user]] %>
      <%= f.submit "Создать" %>
    <% end %>
  </div>

</div>
