<% if @forum.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @forum.errors.messages.each_value do |msg_list| %>
        <% msg_list.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
