<% if @user.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @user.errors.messages.each_value do |msg_list| %>
        <% msg_list.each do |msg| %>
          <% unless msg == 'can\'t be blank' %>
          <li><%= msg %></li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
