<div class="reg-form">
<%= form_for @user do |f| %>
  <h2>Регистрация</h2>
  <div class="divider"></div>

  <%= render 'shared/error_messages/user'%>

  <%= f.label :name, "Имя пользователя:" %>
  <%= f.text_field :name, class: "form-control" %>

  <%= f.label :email, "Электронная почта:" %>
  <%= f.email_field :email, class: "form-control" %>

  <%= f.label :password, "Пароль:" %>
  <%= f.password_field :password, class: "form-control" %>

  <%= f.label :password_confirmation, "Подтверждение пароля:" %>
  <%= f.password_field :password_confirmation, class: "form-control" %>

  <%= f.submit "Зарегистрироваться", class: "btn btn-primary dark-blue" %>
<% end %>
</div>
