<div class="user-update-form">
  <%= form_for @user do |f| %>
    <%= render 'shared/error_messages/user' %>

    <%= f.label :name, "Имя пользователя:" %>
    <%= f.text_field :name %>

    <%= f.label :about, "Рассказать о себе:" %>
    <%= f.text_area :about %>

    <% if current_user.admin? %>

      <% if @user.admin? %>
        <label class="disabled">Привилегии:</label>
        <select disabled class="disabled">
          <option>Администратор</option>
        </select>

      <% else %>
        <%= f.label :role, "Привилегии:" %>
        <%= f.select :role, [["Модератор", :mod ], ["Сотрудник", :employee], ["Обычный пользователь", :user]] %>

      <% end %>

      <%= f.label :password, "Пароль:" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Подтверждение пароля:" %>
      <%= f.password_field :password_confirmation %>

    <% else %>

      <label class="disabled">Привилегии:</label>
      <select disabled class="disabled"><option>
        <% if @user.mod? %>
          Модератор
        <% elsif @user.employee? %>
          Сотрудник
        <% else  %>
          Пользователь
        <% end %>
      </option></select>

      <% if @user == @current_user %>
        <%= f.label :password, "Пароль:" %>
        <%= f.password_field :password %>
        <%= f.label :password_confirmation, "Подтверждение пароля:" %>
        <%= f.password_field :password_confirmation %>
      <% else %>

        <label class="disabled">Пароль:</label>
        <input type="text" disabled class="disabled"></input>
        <label class="disabled">Подтверждение пароля:</label>
        <input type="text" disabled class="disabled"></input>
      <% end %>
    <% end %>

    <%= f.submit "Обновить профиль" %>
  <% end %>
</div>
