<div class="user-profile-menu">

    <div class="pop-up">
      <div class="pop-up-content">
        <span>Активирован:
          <%= if @user.activated
                @user.activated_at.strftime("%d/%m/%Y - %H:%M:%S")
              else
                "Нет"
              end %>
        </span><br>
        <% if !@user.redacted_by.nil? %>
          <span>Редактирован: <%= User.find(@user.redacted_by).name %></span><br>
          <span>Дата: <%= @user.updated_at.strftime("%d/%m/%Y - %H:%M:%S") %></span>
        <% end %>
      </div>
      <div class="pop-up-trigger"></div>
    </div>

  <div class="user-menu-img"></div>
  <div class="user-menu-name"><span><%= @user.name %></span></div>
  <div class="user-menu-status"><span>
    <% if @user.admin? %>
      Администратор
    <% elsif @user.mod? %>
      Модератор
    <% elsif @user.employee? %>
      Сотрудник
    <% else %>
      Пользователь
    <% end %>
  </span></div>

  <ul>
    <li>
      <%= link_to "О пользователе", @user %>
    </li>

    <li>
      <%= link_to "Сообщения", user_messages_path(@user) %>
      <div class="counter">
        <span><%= @user.messages.count %></span>
      </div>
    </li>

    <li>
    <%= link_to "Темы", user_topics_path(@user) %>
    <div class="counter">
      <span><%= @user.topics.count %></span>
    </div>
    </li>

    <% if (current_user == @user) || current_user.admin? || (current_user.mod? && !@user.admin?) %>
      <li>
        <%= link_to "Настройки", edit_user_path(@user) %>
      </li>
    <% else %>
      <li><a class="disabled">Настройки</a></li>
    <% end %>

    <% if current_user && current_user.admin? && !@user.admin? %>
      <li>
        <%= link_to "Удалить", user_path(@user), method: :delete, data: { confirm: "Вы уверены, что хотите удалить этого пользователя?"} %>
      </li>
    <% else %>
      <li><a class="disabled">Удалить</a></li>
    <% end %>

  </ul>
</div>
