<div class="pwd-reset-email-form">
<%= form_tag password_resets_path do %>

  <h2>Сброс пароля</h2>
  <div class="divider"></div>

  <%= label_tag :email, "Электронная почта:" %>
  <%= email_field_tag :email, nil, class: "form-control" %>

  <%= submit_tag "Сбросить пароль", class: "btn btn-primary dark-blue m-bottom" %>

<% end %>
</div>
