<div class="pwd-reset-form">
  <%= form_tag password_reset_url(params[:id]), method: :patch do %>

    <h2>Сброс пароля</h2>
    <div class="divider"></div>

    <%= render 'shared/error_messages/user' %>

    <%= hidden_field_tag :email, @user.email %>

    <%= label_tag :password, "Новый пароль:" %>
    <%= password_field_tag :password %>

    <%= label_tag :password_confirmation, "Подтверждение нового пароля:" %>
    <%= password_field_tag :password_confirmation %>

    <%= submit_tag "Обновить пароль" %>
  <% end %>
</div>
