<div class="topic-edit-form">
  <%= form_for @topic, url: forum_topic_url(params[:forum_id], @topic), method: :patch do |f| %>

    <h2>Редактирование темы</h2>
    <div class="divider"></div>

    <%= render 'shared/error_messages/topic'%>

    <%= f.label :name, "Название темы:" %>
    <%= f.text_field :name %>

    <% if current_user.mod? || @current_user.admin? %>

    <%= f.label :restricted, "Только для:" %>
    <%= f.select :restricted, [["Модераторов", :mod ], ["Сотрудников", :employee], ["Для всех", :user]] %>

    <% end %>

    <%= f.label :content, "Текст:" %>
    <%= f.text_area :content %>

    <%= f.submit "Обновить тему" %>
  <% end %>
</div>
