<% @topics.each do |t| %>
  <tr class="forum-topic-mini">

    <td>
      <%= link_to name_with_restriction(t), forum_topic_path(@forum, t) %>
    </td>
    <td><%= t.messages.count %></td>
    <td>
      <% u = User.find(t.user_id) %>
      <%= link_to u.name, user_path(u) %>
    </td>
    <td><%= t.created_at.strftime("%d/%m/%Y - %H:%M:%S") %></td>
  </tr>

<% end %>
