<% @topics.each do |t| %>

<div class="topic-mini">

  <div class="topic-mini-heading">
    <%= name_with_restriction(t) %>
    <% if !t.redacted_by.nil? %>
      <div class="pop-up">
        <div class="pop-up-content">
          <span>Редактирована: <%= User.find(t.redacted_by).name %></span><br>
          <span>Дата: <%= t.updated_at.strftime("%d/%m/%Y - %H:%M:%S") %></span>
        </div>
        <div class="pop-up-trigger"></div>
      </div>
    <% end %>
  </div>

  <div class="topic-mini-body">
    <%= if (t.content.length <= 200)
      simple_format(t.content, {}, wrapper_tag: "span")
    else
      simple_format(t.content[0,199] + "...", {}, wrapper_tag: "span")
    end %>
  </div>

  <div class="topic-mini-footer">
    <div class="info">
      <% f = Forum.find(t.forum_id) %>
      <%= link_to name_with_restriction(f), forum_path(f) %>, <%= t.created_at.strftime("%d/%m/%Y - %H:%M:%S") %>
    </div>
    <% if current_user && (@current_user.admin? || @current_user.mod? || @current_user.id == t.user_id) %>
      <span>
        <%= link_to "Перейти", forum_topic_path(f, t) %>
        <%= link_to "Редактировать", edit_forum_topic_path(f, t) %>
        <%= link_to "Удалить", forum_topic_path(f, t), method: :delete, data: { confirm: "Вы уверены, что хотите удалить эту тему?"} %>
      </span>
    <% end %>
  </div>

</div>

<% end %>
