//= depend_on_asset "menu-icon-white.png"
//= depend_on_asset "menu-icon-blue.png"
//= depend_on_asset "user-icon.png"

//@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);

$gray-medium-light: #eaeaea;

$bright-blue: #2cbff9;
$dark-blue: #0d4356;
$pale-blue: #b0e8fc;
$blue: hsl(197, 95%, 38%);

$transparent-blue: hsla(197, 95%, 38%, 0.6);
$transparent-green: hsla(131, 73%, 43%, 0.6);
$transparent-red: hsla(0, 96%, 40%, 0.6);
$transparent-dark-blue: hsla(196, 74%, 20%, 0.6);

$mini-menu-bgr-blue: hsla(197, 95%, 58%, 0.6);
$transparent-white-09: rgba(255, 255, 255, 0.9);
$transparent-white-06: rgba(255, 255, 255, 0.6);

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin transition_color_25 {
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  transition: color .25s;
}

@mixin transition_width_25 {
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  transition: width .25s;
}

body {
  font-family: "PT serif", serif;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

/*-------------------miscellaneous-classes------------------*/

.wrapper {
  //background: repeating-linear-gradient(-45deg, #fff, #fff 200px, $pale-blue 200px, $pale-blue 400px);
  padding: 0;
  margin: 0 auto;
  max-width: 2700px;
  position:relative;
  background: #e7edef;
  background-image: image_url('bgr_1.png');
  /*background-image: image_url('main_background_faded.png');
  background-repeat: no-repeat;
  background-position: top center;*/
  min-height: 90vh;
  padding: 30px;
}

.hidden {
  display: none;
}

.container {
  width: auto;
  min-width: 1030px;
  margin: 0 auto;
}

.overflow {
  white-space: nowrap;
  overflow: hidden;
}

.ellipsis {
  text-overflow: ellipsis;
}

.divider {
  margin: 10px 0px;
  border: 2px solid $blue;
}

/*-------------------miscellaneous-classes-end------------------*/

/*-------------------main-menu------------------*/

nav {
  background: $bright-blue;
  width: auto;
  position: relative;
  z-index: 100;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
}

nav ul li {
  display: inline-block;
  position: relative;
  padding: 0;
  margin: 0;
}
/* submenu */
.submenu {
  background: transparent;
  position: absolute;
  left: -50px;
  right: -50px;
  perspective: 1000px;
}

.submenu li {
    display: none;
    margin-bottom: 3px;
    background: $bright-blue;
}

/* menu animation  */
nav > ul > li:hover .submenu > li {
  display: block;
  opacity: 0;
  animation-name: menu;
  animation-duration: 400ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

nav > ul > li:hover .submenu > li:nth-child(2) {
  animation-delay: 100ms;
}

nav > ul > li:hover .submenu > li:nth-child(3) {
  animation-delay: 200ms;
}

nav > ul > li:hover .submenu > li:nth-child(4) {
  animation-delay: 300ms;
}

nav > ul > li:hover .submenu > li:nth-child(5) {
  animation-delay: 400ms;
}

nav > ul > li:hover .submenu > li:nth-child(6) {
  animation-delay: 500ms;
}

@keyframes menu {
  0% {
    transform: translateX(-50px);
    opacity: 0;
   }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

/* menu animation end */
.submenu li:first-child {
    margin-top: 3px;
}

.submenu ul li:last-child {
    border: none;
}
/* submenu end */

nav.align-center ul {
  text-align: center;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 20px;
  //font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  position: relative;
  @include transition_color_25;
}

nav ul li a:hover {
  color: $dark-blue;
}

nav ul li a:hover:before {
  width: 100%;
}

nav ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: $dark-blue;
  @include transition_width_25;
}

nav ul li.active > a {
  color: $dark-blue;
}
nav ul li.active > a:before {
  width: 100%;
}
/*-------------------main-menu-end------------------*/

/*-------------------flash------------------*/
.flash {
  text-align: center;
  display: block;
  margin: 30px;
  margin-top: 0px;
  color: white;
  font-size: 24px;
  padding: 30px;
}

.flash.danger {
    background: $transparent-red;
}

.flash.success {
    background: $transparent-green;
}

.flash.info {
    background: $transparent-blue;
}

/*-------------------flash-end------------------*/

/* ---------redacted-pop-up----------------*/

.pop-up {
  .pop-up-content {
    z-index: 91;
    display:none;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 15px;
    width: 340px;
    background: $transparent-white-09;
    color: $dark-blue;
    border: 1px solid $dark-blue;
  }
  .pop-up-trigger {
    z-index:91;
    position: absolute;
    display:block;
    height: 10px;
    width: 10px;
    background: $dark-blue;
    top: 3px;
    right: 3px;
  }
  &:hover {
    .pop-up-content {
      display: block;
    }
  }
}

/*----------redacted-pop-up-end-----*/

/*-------------------form------------------*/

.login-form form, .reg-form form, .topic-new-form form, .topic-edit-form form, .forum-edit-form form, .mini-menu form, .user-update-form form, .message-edit-form form, .pwd-reset-form form, .pwd-reset-email-form form {
    border: 10px solid $transparent-blue;
    margin: 0;
    padding: 20px;
    background: white;
    //font-family: 'Open Sans', sans-serif;
    background: white;
    color: $dark-blue;

    h2 {
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 30px;
      text-align: center;
    }

    .field_with_errors {
      display:inline;
    }

    input[type="text"], input[type="email"], input[type="password"], textarea, select {
      font-family: "PT serif", serif;
      background: white;
      padding: 10px 5px;
      margin-bottom: 10px;
      font-size: 20px;
      width: 100%;
      box-sizing: border-box;
      color: $dark-blue;
    }

    input[type="checkbox"] {
      height: 40px;
      width: 40px;
      vertical-align: middle;
    }

    input[type="submit"] {
      font-family: "PT serif", serif;
      display: block;
      text-decoration: none;
      font-size: 20px;
      font-weight: 700;
      color: white;
      text-transform: uppercase;
      border: none;
      width: 100%;
      box-sizing: border-box;
      background: $blue;
      padding: 15px;
      margin: 10px auto;
      margin-bottom: 0px;
      &:hover {
        background: $blue;
        color: white;
      }
    }
    p {
      margin: 0;
      a {
        text-decoration: none;
        color: $blue;
        &:hover {
          color: $bright-blue;
        }
      }
    }
}

.login-form, .reg-form, .topic-new-form, .topic-edit-form, .forum-edit-form, .message-edit-form, .pwd-reset-form, .pwd-reset-email-form {
  display: block;
  margin: 0 auto;
  padding: 0px;
  width: 500px;
}

.forum-edit-form {
  select.disabled {
    border: 1px solid gray;
    color: gray;
  }
  label.disabled {
    color: gray;
  }
}

.topic-new-form, .topic-edit-form {
  width: 800px;
  textarea {
    resize: none;
    height: 300px;
  }
}

.message-edit-form {
  width: 600px;
  textarea {
    resize: none;
    height: 300px;
  }
}

.user-update-form {
    form {
      border: none;
    }
    textarea {
      resize: none;
      height: 200px;
    }
}

.log-form form input[type="submit"] {
  margin-bottom: 15px;
}

/*-------------------form-end-----------------*/


/*-------------------forum-mini-template------------------*/

.forum-index {
text-align: center;
padding: 0;
margin: 0 auto;
width: 1030px;
}

.forum-mini {
  vertical-align: top;
  margin: 0;
  margin-bottom: 20px;
  background: white;
  position: relative;
  width: 40%;
  display: inline-block;
  padding: 0px;
  border: 10px solid $transparent-blue;
  color: $dark-blue;
  position: relative;
  z-index: 15;
  .forum-mini-img {
    position: relative;
    border: 3px solid $blue;
    border-radius: 100px;
    margin: 10px auto;
    width: 150px;
    height: 150px;
    img {
      position: absolute;
      top: 20px;
      left: 35px;
    }
  }

  .forum-mini-heading {
    margin-bottom: 10px;
  }

  .forum-mini-heading a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
    color: $blue;
    &:hover {
      color: $bright-blue;
    }
  }

  .forum-mini-body {
    padding: 0px;
    table {
      border-collapse: collapse;
      width: 100%;
      tr {
        border-bottom: 1px solid $transparent-blue;
      }
      tr:first-child {
        border-top: 1px solid $transparent-blue;
      }
      tr:last-child {
        border: none;
      }
      td {
        margin: 0;
        padding: 5px 0px;
      }
      tr td:first-child {
        border-right: 1px solid $transparent-blue;
      }
    }
    a {
      text-decoration: none;
      color: $blue;
      &:hover {
        color: $bright-blue;
      }
    }
  }
}

.forum-mini:nth-child(2n+1) {
  margin-right: 20px;
}

.forum-new {
  height: 408px;
  .forum-mini-heading span {
    display: block;
    color: $blue;
    text-transform: uppercase;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 27px;
  }
}


.mini-menu {
 .mini-menu-img {
    z-index: 99;
    content: "";
    background-image: image_url('menu-icon-blue.png');
    background-size: 30px 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    animation-name: forum-mini-menu-img-blue-animation;
    animation-duration: 400ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  ul, form {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: $mini-menu-bgr-blue;
    margin: 0;
    display: none;
  }
  ul {
    margin: 0;
    padding: 20px;
    padding-top: 100px;
    list-style: none;
    li a {
      display: inline-block;
      text-decoration: none;
      padding: 15px;
      margin-bottom: 10px;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
      width: 100%;
      box-sizing: border-box;
      color: white;
      border: 2px solid white;
      background: $transparent-blue;
      &:hover {
        border: 2px solid $dark-blue;
        background: $transparent-white-09;
        color: $dark-blue;
      }
    }
    li a.disabled {
      background: repeating-linear-gradient(-45deg, $transparent-white-09, $transparent-white-09 2px, transparent 2px, transparent 10px);
      cursor: default;
      color: $transparent-white-09;
      &:hover {
        background: repeating-linear-gradient(-45deg, $transparent-white-09, $transparent-white-09 2px, transparent 2px, transparent 10px);
        border: 2px solid white;
        color: $transparent-white-09;
      }
    }
  }
  &:hover {
    ul, form {
      display:block;
    }
    .mini-menu-img {
      background-image: image_url('menu-icon-white.png');
      animation-name: forum-mini-menu-img-white-animation;
      animation-duration: 400ms;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
    }
  }
  form {
    border:none;
    text-align: left;
    padding-top: 100px;

    input[type="text"], select {
      font-size: 20px;
      padding: 10px;
      margin-bottom: 5px;
    }

    input[type="submit"] {
      padding: 15px;
      width: 100%;
      box-sizing: border-box;
    }
  }
}

@keyframes forum-mini-menu-img-white-animation {
  0% {
    transform: rotate(0deg);
   }

  100% {
    transform: rotate(90deg);
  }
}

@keyframes forum-mini-menu-img-blue-animation {
  0% {
    transform: rotate(90deg);
   }

  100% {
    transform: rotate(0deg);
  }
}

/*-------------------forum-mini-template-end------------------*/

.box {
  z-index: 15;
  display: block;
  background: white;
  width: 1200px;
  border: 1px solid $blue;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.heading {
  background: $blue;
  text-align: center;
  position: relative;
  padding: 15px 10px;
  .forum-heading-btn {
    display: inline-block;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 5px;
    background: transparent;
    padding: 15px;
    font-size: 30px;
    color: $transparent-white-06;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      color: $transparent-white-09;
    }
  }
  span {
    color: white;
    font-size: 30px;
  }

  .mini-menu {
    .mini-menu-img {
      background-image: image_url('menu-icon-white.png');
      background-size: 30px 30px;
      top: 20px;
    }
    ul {
      background: $blue;
      padding: 5px;
      text-align: center;
      li {
        display: inline-block;
        font-size: 20px;
        a {
          width: 250px;
          font-size: 20px;
        }
      }
    }
  }
}

.index-table {
  text-align: center;
  span {
    display: inline-block;
    font-size: 24px;
    padding: 100px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    tr {
      border-bottom: 1px solid $blue;
      td, th {
        padding: 15px 10px;
        color: $dark-blue;
        a {
          text-decoration: none;
          color: $blue;
          &:hover {
            color: $bright-blue;
          }
        }
      }
    }
    tbody tr:last-child {
      border: none;
    }
  }
}

.forum-show {
  table {
    font-size: 24px;
  }
}

.topic-show {
  margin-bottom: 10px;
  .topic-show-body {
    padding: 20px;
    color: $dark-blue;
    font-size: 20px;
    word-wrap: break-word;
  }
  .topic-show-footer {
    position: relative;
    background: $blue;
    padding: 5px 15px;
    font-size: 16px;
    color: white;

    .pop-up {
      .pop-up-content {
        color: $dark-blue;
        font-size: 20px;
        right: 10px;
        top: -60px;
      }
      .pop-up-trigger {
        top: 10px;
        right: 15px;
        background: white;
      }
      &:hover .pop-up-trigger {
        background: $dark-blue;
      }
    }

    a {
      color: white;
      text-decoration: underline;
      &:hover {
        color: $pale-blue;
      }
    }
  }
}

.new-message-form {
  margin-bottom: 20px;
  form {
    min-width: 1000px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    textarea {
      font-size: 20px;
      padding: 5px;
      display: block;
      width: 100%;
      resize: none;
      height: 100px;
      box-sizing: border-box;
      color: $dark-blue;
    }
    input[type="submit"] {
      display: block;
      font-size: 20px;
      font-weight: 700;
      color: white;
      text-transform: uppercase;
      width: 100%;
      background: $blue;
      padding: 10px 0px;
      margin: 0;
      border: none;
      cursor: pointer;
      box-sizing: border-box;
    }
  }
}

/* messages and topics mini templates */

.messages, .topics {
  border: none;
  background: transparent;
  .message-mini, .topic-mini {
    border: 1px solid $blue;
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    .topic-mini-heading {
      border-bottom: 1px solid $blue;
      padding-bottom: 10px;
    }
    .message-mini-body, .topic-mini-heading, .topic-mini-body {
      color: $dark-blue;
      font-size: 20px;
      margin-bottom: 10px;
    }
    .message-mini-footer, .topic-mini-footer {
      z-index: 90;
      color: $dark-blue;
      position: relative;
      padding-top: 10px;
      font-size: 18px;
      border-top: 1px solid $blue;
      .info {
        display: inline-block;
        max-width: 500px;
      }
      span {
        font-size: 18px;
        position: absolute;
        right: 10px;
      }
      a {
        color: $dark-blue;
        &:hover {
          color: $pale-blue;
        }
      }
    }
  }
}

.messages {
  .message-mini-body {
    padding-right: 15px;
    position: relative;
    word-wrap: break-word;
  }
}

.topics {
  .topic-mini-heading {
    position: relative;
    .pop-up {
      .pop-up-content {
        top: 4px;
      }
      .pop-up-trigger {
        top: 7px;
        height: 15px;
        width: 15px;
      }
    }
  }
}
/* messages and topics mini templates */

/* User profile */
.user-profile {
  min-height: 780px;
  position: relative;
  .user-data {
    vertical-align: top;
    display: inline-block;
    margin: 0;
    margin-left: 30%;
    padding: 20px;
    width: 69%;
    box-sizing: border-box;
    span {
      font-size: 20px;
      color: $dark-blue;
    }
    .topic-mini-body, .message-mini-body {
      word-wrap: break-word;
    }

  }
  .user-profile-menu {
    position: absolute;
    top: 0px;
    bottom: 0px;
    vertical-align: top;
    display:inline-block;
    width: 30%;
    box-sizing: border-box;
    padding: 20px 0;
    border-right: 1px solid $blue;
    background: white;
    .pop-up {
      .pop-up-content {
        top: 3px;
        right: 3px;
      }
      .pop-up-trigger {
        height: 15px;
        width: 15px;
        top: 5px;
        right: 5px;
      }
    }
    .user-menu-img {
      background-image: image_url('user-icon.png');
      background-size: contain;
      display: block;
      border-radius: 250px;
      border: 2px solid $blue;
      margin: 0 auto;
      padding: 0;
      margin-bottom: 20px;
      width: 250px;
      height: 250px;
    }
    .user-menu-name, .user-menu-status {
      display:block;
      text-align:center;
      font-size: 20px;
      color: white;
      background: $blue;
      margin: 0;
      padding: 10px;
    }
    .user-menu-name {
      margin-bottom: 2px;
    }
    ul {
      list-style: none;
      padding: 0;
      padding-left: 20px;
      margin: 0;
      margin-top: 20px;
      li {
        display: block;
        position:relative;
        padding: 0;
        margin: 0;
        margin-bottom: 10px;
        .counter {
          position: absolute;
          right: 0px;
          bottom: 10px;
          background: $blue;
          border: 1px solid $dark-blue;
          border-right:none;
          color: white;
          padding: 5px 15px;
          z-index: 80;
        }
        &:hover .counter {
          background: white;
          border-right:none;
          color: $dark-blue;
        }
        a{
          background: white;
          text-align: center;
          font-size: 20px;
          display: block;
          text-decoration: none;
          padding: 15px 10px;
          color: $dark-blue;
          border: 1px solid $blue;
          border-right: none;
          &:hover {
            color: white;
            background: $blue;
          }
        }
        a.disabled {
          cursor: default;
          color: $transparent-blue;
          background: repeating-linear-gradient(-45deg, $transparent-blue, $transparent-blue 2px, white 2px, white 10px);
          &:hover {
            color: $transparent-blue;
          }
        }
      }
    }
  }
  .user-update-form {
    form {
      border: none;
      padding: 0;
      width: 100%;
      box-sizing: border-box;
      select.disabled {
        border: 1px solid gray;
        color: gray;
      }
      input.disabled {
        border: 1px solid gray;
      }
      label.disabled {
        color: gray;
      }
      input[type="submit"] {
        width: 100%;
        box-sizing: border-box;
        background: $blue;
        color: white;
        border: none;
        cursor: pointer;
        &:hover {
          background: $blue;
          color: white;
          border: none;
        }
      }
    }
  }
}

.user-profile.user-about .user-profile-menu ul li:nth-child(1) a, .user-profile.user-edit .user-profile-menu ul li:nth-child(4) a {
  color: white;
  background: $blue;
}

.user-profile.user-messages .user-profile-menu ul li:nth-child(2), .user-profile.user-topics .user-profile-menu ul li:nth-child(3) {
  .counter {
    background: white;
    border-right:none;
    color: $dark-blue;
  }
  a{
    color: white;
    background: $blue;
  }
}

.user-profile-topics, .user-profile-messages {
  overflow-y: auto;
}

/* User Profile End */

/* pagination */

.pagination {
  display: block;
  margin: 0px auto;
  padding: 10px 0;
  text-align: center;
  border-top: 1px solid $blue;
  span, em, a {
    display: inline-block;
    padding: 5px 15px;
    margin: 0px 1px;
    background: white;
    color: $dark-blue;
    border: 1px solid $blue;
  }
  a {
    text-decoration: none;
    color: $blue;
    &:hover {
      color: white;
      background: $blue;
    }
  }
  .current {
    color: $dark-blue;
    border: 1px solid $dark-blue;
    font-style: normal;
  }
  .disabled {
    color: gray;
    border: 1px solid gray;
  }
  .gap {
    color: $blue;
  }
}

.topic-show-pagination, .user-topics, .user-messages {
  .pagination {
   border: none;
  }
}


/* pagination end */


/*-------------------footer------------------*/

footer {
  background:  $bright-blue;
  padding: 10px;
  //font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: white;
  text-align: center;
  a {
    text-decoration: none;
    color: white;
    &:hover {
      color: black;
    }
  }
}

/*-------------------media-queries------------------*/
