// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$bright-blue: #2cbff9;
$dark-blue: #0d4356;
$pale-blue: #b0e8fc;
$blue: hsl(197, 95%, 38%);

$transparent-blue: hsla(197, 95%, 38%, 0.6);
$transparent-green: hsla(131, 73%, 43%, 0.6);
$transparent-red: hsla(0, 96%, 40%, 0.6);
$transparent-dark-blue: hsla(196, 74%, 20%, 0.6);

$mini-menu-bgr-blue: hsla(197, 95%, 58%, 0.6);
$transparent-white-09: rgba(255, 255, 255, 0.9);
$transparent-white-08: rgba(255, 255, 255, 0.8);

  //background: #e7edef;
  //background: #eaecea;
  //background: #f7f4ec;


.static-container {
  font-family: "PT serif", serif;
  color: $dark-blue;
  background: white;
  margin: 0;
  padding: 0;
}

.static-wrapper {
  padding: 20px 0px;
  margin: 0px auto;
  max-width: 2700px;
  position:relative;
  background: #e7edef;
  background-image: image_url('bgr_1.png');
  /*background-image: image_url('main_background_faded.png');
  background-repeat: no-repeat;
  background-position: top center;*/
  .section-wrapper {
    margin: 0 auto;
    width: 1030px;
    height: 100%;
    .info-panel {
      z-index:10;
      position:relative;
      background: white;
      padding: 20px;
      border: 2px solid $dark-blue;
      font-size: 24px;
      margin-bottom: 20px;
      h2 {
        padding: 0;
        margin: 0;
        font-size: 30px;
      }
      h3 {
        padding: 0;
        margin: 0;
        font-size: 20px;
      }
      img {
        padding: 0;
        margin: 0px;
        border: 2px solid $dark-blue;
      }
      p {
        padding: 0px;
        margin: 0px;
        margin-top: 10px;
      }
      ul {
        margin: 0;
        padding: 0;
        li {
          padding: 0;
          margin: 0;
        }
      }
    }
    .info-panel:last-child {
      margin: 0;
    }
    .table-title {
      position:relative;
      z-index: 10;
      background: white;
      margin: 0px;
      border: 2px solid $dark-blue;
      border-bottom: none;
      text-align: center;
      padding: 15px 5px;
      h2 {
        margin: 0;
      }
    }
    table {
      margin: 0px;
      margin-bottom: 20px;
      position: relative;
      z-index: 10;
      border-collapse: collapse;
      background: white;
      width: 100%;
      border: 2px solid $dark-blue;
      th, td {
        padding: 15px 5px;
        border-right: 2px solid $dark-blue;
        text-align: center;
        z-index: 15;
      }
      th {
        border-bottom: 2px solid $dark-blue;
      }
      th:last-child, td:last-child {
        border-left: none;
      }
      tr {
        border-bottom: 1px solid $dark-blue;
      }
    }
    table:last-child {
      margin-bottom: 0px;
    }
  }
}

.clearfix {
  clear:both;
}

.static-wrapper.about .section-wrapper {
  h2 {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid $dark-blue;
  }
  .info-panel-1 {
    text-align: justify;
    div {
      display:inline-block;
    }
    div:first-child {
      width: 500px;
    }
    div:nth-child(2) {
      vertical-align: top;
      margin-left: 90px;
      margin-top: 40px;
    }
    ul {
      list-style: none;
      li {
        position: relative;
        text-align: left;
        padding: 15px 5px;
      }
      li:before {
        content: '';
        position: absolute;
        width: 40px;
        height: 40px;
        background: transparent;
        left: -50px;
      }
      li:nth-child(1):before {
        background-image: image_url('eae_logo.gif');
        background-repeat: no-repeat;
        background-size: contain;
      }
      li:nth-child(2):before {
        background-image: image_url('pem_logo.gif');
        background-repeat: no-repeat;
        background-size: contain;
      }
      li:nth-child(3):before {
        background-image: image_url('gem_logo.gif');
        background-repeat: no-repeat;
        background-size: contain;
      }
      li:nth-child(4):before {
        background-image: image_url('sezam_logo.gif');
        background-repeat: no-repeat;
        background-size: contain;
      }
      li:nth-child(5):before {
        background-image: image_url('promcentr_logo.gif');
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
  .info-panel-2 {
    text-align: justify;
  }
  .info-panel-3, .info-panel-4 {
    ul {
      padding-left: 30px;
    }
  }
}

.static-wrapper.leadership {
  .info-panel {
    h3 {
      margin-bottom: 15px;
      padding-bottom: 15px;
      border-bottom: 2px solid $dark-blue;
    }
    img {
      margin-right: 20px;
      float:left;
      width: 130;
      height: 130;
    }
    ul {
      padding-left: 20px;
      margin-bottom: 10px;
    }
  }
}

.static-wrapper.companies .info-panel {
    img {
      margin-right: 20px;
      float:left;
      height: 100px;
      width: 100px;
    }
    h2 {
      margin-bottom: 15px;
      padding-bottom: 15px;
      border-bottom: 2px solid $dark-blue;
      font-size: 24px;
    }
    a {
      display: block;
      position: absolute;
      top: 5px;
      right: 10px;
      padding: 10px;
      font-size: 24px;
      text-decoration: none;
      color: $blue;
      &:hover {
        color: $pale-blue;
      }
    }
  }

.static-wrapper.competences .info-panel, .static-wrapper.eae .info-panel, .static-wrapper.pem .info-panel, .static-wrapper.gem .info-panel, .static-wrapper.sezam .info-panel, .static-wrapper.promcenter .info-panel {
  h2 {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid $dark-blue;
  }
  ul {
    padding-left: 20px;
    margin-bottom: 20px;
    li {
      margin-top: 5px;
    }
  }
  img {
    margin-left: 20px;
    height: 200px;
    width: 300px;
    float:right;
  }
  p {
    padding-left: 20px;
  }
}

.static-wrapper.projects .section-wrapper {
  .table-title {
    h2 {
      font-size: 24px;
    }
  }
    table ul {
      padding: 0;
      margin: 0;
      margin-left: 30px;
      li {
        padding: 0;
        margin: 0;
        text-align: left;
      }
    }
  }

  .static-wrapper.eae .section-wrapper, .static-wrapper.pem .section-wrapper, .static-wrapper.gem .section-wrapper, .static-wrapper.sezam .section-wrapper,
  .static-wrapper.promcenter .section-wrapper {
    .title {
      background: white;
      padding: 0px;
      margin: 0;
      margin-bottom: 20px;
      text-align: center;
      border: 2px solid $dark-blue;
    }
  }

  .static-wrapper.pem .section-wrapper .info-panel, .static-wrapper.promcenter .section-wrapper .info-panel, .static-wrapper.gem .section-wrapper .info-panel,  .static-wrapper.sezam .section-wrapper .info-panel{
    img {
      height: 120px;
      width: 150px;
    }
  }
