<header>
  <nav class="align-center">
    <ul>
       <li><%= link_to 'О компании', about_path %>
           <ul class="submenu submenu-1">
             <li><%= link_to 'Руководство', leadership_path %></li>
             <li><%= link_to 'Компетенция', competences_path %></li>
             <li><%= link_to 'Статистика', statistics_path %></li>
           </ul>
       </li>

       <li><%= link_to 'Предприятия холдинга', companies_path %>
           <ul class="submenu submenu-2">
             <li><%= link_to "ЗАО \"Энергоатоминжиниринг\"", eae_path %></li>
             <li><%= link_to "ОАО \"Промэлектромонтаж\"", pem_path %></li>
             <li><%= link_to "ЗАО \"Гидроэлектомонтаж\"", gem_path %></li>
             <li><%= link_to "АО \"Севзапатоммонтаж\"", sezam_path %></li>
             <li><%= link_to "ЗАО \"Промцентр\"", promcenter_path %></li>
           </ul>
       </li>

       <li><%= link_to 'Проекты', projects_path %></li>

       <li><%= if logged_in?
                  link_to current_user.name, user_path(@current_user.id)
                else
                  link_to "Форум", forums_path
                end %>
           <ul class="submenu submenu-4">
             <li><%= link_to "Разделы", forums_path %></li>
             <% if logged_in? %>
              <li><%= link_to "Пользователи", users_path %></li>
              <li><%= link_to "Профиль", current_user %></li>
              <li><%= link_to "Выход", logout_path, method: "delete" %></li>
             <% else %>
              <li><%= link_to "Регистрация", signup_path %></li>
              <li><%= link_to "Вход", login_path %></li>
             <% end %>
           </ul>
       </li>

    </ul>
  </nav>
</header>
