<div class="login-form">
  <%= form_tag login_path do %>
    <h2>Вход</h2>
    <div class="divider"></div>
    
    <%= label_tag :email, "Электронная почта:" %>
    <%= email_field_tag :email, nil, class: "form" %>

    <%= label_tag :password, "Пароль:" %>
    <%= password_field_tag :password, nil, class: "form" %>

    <%= label_tag :remember_me, nil, class: "checkbox" do %>
    <%= check_box_tag :remember_me %>
    <span>Запомнить меня</span>
    <% end %>

    <%= submit_tag "Войти", class: "btn" %>

    <div class="divider"></div>

    <p>Всё ещё не зарегистрированы? <%= link_to "Скорее сделайте это!", signup_path %> Или может вы <%= link_to "забыли пароль?", new_password_reset_path %></p>

  <% end %>
</div>
